[2016-04-01 09:30] mfidemraizer opened #1 "Change-tracked collections breaks ICollection<T>.Contains contract"
Current change-tracked collections intercept calls using an `ICollection<T>` implementation. `ICollection<T>.Contains` breaks a base class library post-condition contract.

[2016-04-01 09:32] mfidemraizer commented on #1
The issue was caused by the fact that interceptor's `ICollection<T>` implementation was always returning `0` on `ICollection<T>.Count`. `Contains`  can't return `true` if `Count` is `0`.

Now this is fixed.

[2016-04-01 09:39] #1 closed

[2016-07-14 07:17] mfidemraizer opened #2 "Cannot track dictionary property changes"
In current version there's a bug. While TrackerDog can track changes of collection properties, when a property is `IDictionary<TKey, TValue`, it'll throw an exception.

[2016-07-14 07:20] mfidemraizer commented on #2
This issue had two underlying problems:

1. TrackerDog wasn't adding a collection tracking configuration for `IDictionary<TKey, TValue>`.
2. Collection change tracking wasn't supporting the special case of `IDictionary<TKey, TValue>` where items are `KeyValuePair<TKey, TValue>` instead of the actual objects to be tracked for changes.

For now, I've partially solved the issue: now TrackerDog can tr

[2016-07-14 07:20] #2 closed

[2016-07-16 13:54] ordinaryorange opened #3 "IndexOutOfRangeException"
Basic POCO entity with properties.
Added POCO type to TrackerConfiguration as per docs.
Then call On AsTrackable() extension method and get IndexOutOfRangeException.
If comment out the byte[] property, then the exception disappears.
Using Ver 1.1.3 from NuGet

[2016-07-16 14:05] ordinaryorange opened #4 "ContractEception"
Basic POCO class with List<T> property where T is also basic POCO class
Added parent POCO type to TrackerConfiguration as per docs.
Then call On AsTrackable() extension method and get ContractException (as below)
Occurs irrespective of whether property in question is virtual or not.
Using Ver 1.1.3 from NuGet

Exception message;
Assertion failed: parentObjectProperty.PropertyType.GetGenericTypeDef

[2016-07-17 10:10] mfidemraizer commented on #4
I see, confirm is this is the scenario:

[code]

Am I in the right track? If so, I'll implement a test case and I'll try to fix the whole issue!

Thank you in advance for notifying this issue!

[2016-07-17 10:12] mfidemraizer commented on #3
So you've implemented a POCO where one or more properties are *arrays* like `byte[]`:

[code]

Is the above code sample your secenario?

[2016-07-17 11:51] mfidemraizer commented on #4
I could reproduce the issue already. I'm already working on fixing it!

[2016-07-17 11:51] ordinaryorange commented on #4
Bingo spot on.
Event if I change ListOfA to a List of B

public class B
{
	public int MyProperty { get; set; }
}
TrackerDogConfiguration.TrackTheseTypes(Track.ThisType<A>(), Track.ThisType<B>());
	var p = new A().AsTrackable();

Same error.

[2016-07-17 11:58] ordinaryorange commented on #3
Plain stings dont seem to cause the problem.
Only arrary. eg byte[] or string[] properties
Error occurs irrespective of the property being marked as virtual.

Looking forward to getting these resolved as TrackerDog is EXACTLY what I was looking for (even down to the use of Castle...)

[2016-07-17 11:58] mfidemraizer commented on #4
@ordinaryorange Ok. Thanks. I've already fixed the contract exception improving the contract itself. Now I'm on the other issue.

[2016-07-17 11:59] ordinaryorange commented on #4
Cool. Glad to see it was an easy one.

[2016-07-17 12:16] mfidemraizer commented on #4
There's still an issue with this. Once I've fixed the contract, now arises another problem.

I found that only on current use case Castle DynamicProxy isn't generating a collection proxy which implements the interface of  the target collection.

That is, if we proxy a `List<F>` where `F` is the enclosing type, it generated a `IList`1Proxy` which doesn't implement `IList<T>`! I'm trying to fix this

[2016-07-17 12:25] mfidemraizer commented on #4
Ok! I could fix it and I've implemented a basic test to be sure that it has been fixed. Now I'm definitively on the next issue.

[2016-07-17 13:00] mfidemraizer commented on #3
I could find the source of the problem.

It's because arrays still implement `IList<T>` and currently TrackerDog detects if a type is trackable based on checking if it's a collection.

I believe that the best solution here is just skipping arrays, because even when arrays can be casted as collection interfaces, it's hard to track them, since there's no array interface...

My solution (already) has

[2016-07-17 13:14] mfidemraizer commented on #4
I've already pushed a new NuGet package: 1.1.4! Will you update your solution and check if this solves your issues? Thanks!

[2016-07-17 13:14] mfidemraizer commented on #3
I've already pushed a new NuGet package: 1.1.4! Will you update your solution and check if this solves your issues? Thanks!

[2016-07-18 04:08] ordinaryorange commented on #3
Yep, so far so good. Ran some tests and TrackerDog is running as expected. Nice work on the library.
Ignoring arrays for now wont affect anything I'm doing. The only initial ideas I have to attack the array problem would be some form of Duck typing maybe ?
Thanks for your help.

[2016-07-18 06:17] mfidemraizer commented on #3
@ordinaryorange uhm... I believe that what should work is implementing an interface that defines array-specific methods to proxy actual ones. It shouldn't be hard to go this route but I preferred prioritize solving your issues without introducing to munch code because such feature would need more testing.

Well, I'm glad you got what you need in your project and thanks for your good comments about

[2016-07-18 06:17] #3 closed

[2016-07-18 06:18] #4 closed

[2016-07-18 10:29] mfidemraizer opened #5 "Calling ContainsKey on a change-tracked dictionary throws an exception"
When a property of type `IDictionary<TKey, TValue>` is called once it's tracked for changes, and I call `ContainsKey` method on the whole dictionary, TrackerDog will throw an exception.

This is because TrackerDog still doesn't support dictionary change tracking at all: it just supports detecting changes on the dictionary but it can't store *which key value-pairs have changed*, and there's no Cast

[2016-07-18 10:35] mfidemraizer commented on #5
For now, this has been solved with some workarounds to avoid tracking dictionary key-value pairs.

[2016-07-18 10:55] ordinaryorange opened #6 "Notification from Object Graph"
Hey Matias,

Looking for a way to get notification from a proxied object graph when some property (or collection) deep in the graph changes.
I know I can use the change tracker to look for changes, but I'm looking for more of an event to subscribe to.
One idea I had was to implement a custom interceptor which would bubble any INorifyPropertyChanged or ICollectionChanged events up (via a custom del

[2016-07-18 11:20] #5 closed

[2016-07-18 11:31] mfidemraizer commented on #6
Hey ;)

So you want to attack an event handler at any level of an object graph to detect when a property changes.

I can think about two approaches:

1. The one you're talking about. We could fire a `PropertyChanged` event for both an own object's property and also for associated objects at any level. BTW, for me this has an issue. Since `INotifyPropertyChanged` event arguments just give *the prop

[2016-07-18 11:57] mfidemraizer commented on #6
You'll get surprised, but I've just implemented this feature. It was so easy. You can check how it works on the following test case: https://github.com/mfidemraizer/trackerdog/blob/master/TrackerDog.Test/SimplePropertyTest.cs#L265

Finally, since any property tracking implements `IObjectPropertyPropertyChangeTracking`, the whole event args gives you the exact property tracking that would give you

[2016-07-18 11:58] ordinaryorange commented on #6
Yes I think your option 2 is the better option if as you say that the entire object graph shares the same tracker.
But I wonder if the Event Delegate should be
`public class ObjectChangeEventArgs : EventArgs
{
        public ObjectChangeEventArgs(object owner, IEnumerable<IObjectPropertyChangeTracking> changedProperties)
        {
        }
}`

which would capture both a change to a collection and

[2016-07-18 12:05] mfidemraizer commented on #6
I've re-updated the NuGet package, because I forgot to add the whole `targetObject` (owner object) of a given property.

About the other thing, I doubt that it could be implemented in an elegant way. Each property changes starts a change detection cycle. It would be awful to produce an in-memory change history or something like that.

IMHO, if I'm not mistaken, you should use `Changed` event in yo

[2016-07-18 12:10] mfidemraizer commented on #6
Well, now I need to go home and have lunch. BTW I'll stay waiting for your thoughts during this afternoon ;)

[2016-07-18 13:00] ordinaryorange commented on #6
Thanks for sneaking that event in that is absolutely perfect for my needs !
Not sure why but if I run your test method the event gets called just fine. But if I mod it to declare the trackable like this
`var aa = new A();
	var bb = new B();
	var cc = new C();
	aa.B = bb;
	bb.C = cc;
	cc.Text = "hello";`

and then set `cc.Text = "goodbye"` after event wire up, the event does not fire.
Can you repro

[2016-07-18 13:31] ordinaryorange opened #7 "Tracking Interfaces"
The following seems natural
[code]

but produces the noted exception.
I think that MyProperty should be tracked, but not HisProperty.
Could it even be possible for `var t = Tackable.Of<A>()` and then get the assistance from a dependency injection container to create the proxy ?

[2016-07-18 17:15] mfidemraizer commented on #7
Uhm I believe you'll cry but this time it seems like our favorite dog isn't mistaken!

`A` is trackable but you've not configured `Alpha` as trackable, have you? :)

TrackerDog needs you to configure the entire inheritance tree. I've been thinking about something like this that could be a new feature:

`TrackerDogConfiguration.TrackTheseTypes(Track.ThisType<Alpha>(configureInheritance: true));`

.

[2016-07-18 17:47] mfidemraizer commented on #7
About the other question...

In the current form, it might depend on your dependency injection container. For example, in Castle Windsor you could use `UseFactoryMethod` to define how a component gets instantiated:

`container.Register(Component.For<Alpha>().UsingFactoryMethod(() => Trackable.Of<A>()));`

This way, you can even configure the proxy life-cycle:

`container.Register(Component.For<Alp

[2016-07-18 20:21] mfidemraizer commented on #6
@ordinaryorange  Hey! I could reproduce your problem.

I understand that you're doing something like that:

[code]

I'm not sure if this is a bug or it's just how it should work after all. Let me explain what's my reasoning about this.

When you call `aa.AsTrackable()` you're saying *I want to track changes of this instance and also of its associations*. That is, TrackerDog sets object graph's ass

[2016-07-19 00:16] ordinaryorange commented on #6
In the particular application that I'm working on, I only know about the root objects in the object graph. (i.e. the aa objects), but I need to know if something lower in the graph changes. I was hoping to be able to wire up to the `Changed` event on the aa objects and get notification when anything changes on their respective graphs.
You are absolutely right saying _I want to track changes of thi

[2016-07-19 01:03] ordinaryorange commented on #7
In regard to the first bit of this thread. I intentionally did not set alpha in the tracking configuration.
Here is my thinking.
Say you have an interface such as
[code]
I could create instances of `Child`, `Adult`, `Eskimo`, `Businessman`..etc all which implement `IPerson`.
I don't care about any of the other properties each of those Types expose, but if an object implements `IPerson` then please

[2016-07-19 06:23] mfidemraizer commented on #7
Oh, I understand what you mean. In summary, you want to use interfaces like *configurations*. If you call `x.AsTrackable()` where `x` is a reference to an object which implements an already configured interface, then interface's properties should be *trackable*.

I'll check the source code to see if this is possible.

[2016-07-19 06:30] mfidemraizer commented on #6
For example, if you turn into *trackable* the whole `A`, `B`, `C` object graph as you described:

[code]
- `aa` will be a proxy.
- `bb` won't be a proxy, but `aa.B`  yes.
- `cc` won't be a proxy, but `bb.C` yes.

I mean that you can't exchange the object referenced by a variable without setting a new object on the whole reference. TrackerDog does it for the associations but, AFAIK, this can't cove

[2016-07-20 00:27] ordinaryorange commented on #6
Ha, you are dead right. I was wandering off some imaginary yellow brick road...
I ran some code here to re-educate myself about what objects know what, and now things are clear for me. So yes Tracker Dog is doing the right thing, and there is no need to change him. If I use him the right way I'll get the deep notification I'm after. Thanks

[2016-07-20 00:42] ordinaryorange commented on #7
Bingo you got it. I hope it's not too difficult to implement. The configuration via interfaces will help reduce dependencies when integrating TrackerDog.

[2016-07-20 03:50] ordinaryorange opened #8 "Get Root Object of Tracker Graph"
I'm implementing the new `Changed` event in my application.

Using the example in our other discussions, if I do `a.B.C.Text = "new text"` the event fires.
And the event args `TargetObject` is C as expected.
What I need to do now is find C's root object i.e. `a`

I see there is `Target` property on the `DeclaredObjectPropertyChangeTracking` class but it is internal, so for now I've added an ugly h

[2016-07-20 15:54] mfidemraizer commented on #8
I'll take a look at this. Probably it should be a public `ParentProperty` property on `IDeclaredPropertyChangeTracking` interface.

I don't know if I'll manage to give you a solution today but I'll try to give it as soon as possible (1-2 days!).

[2016-07-20 15:55] mfidemraizer commented on #7
Nice! Well, I'll implement it as soon as possible. I understand that you can go with configuring each type one by one in the mean time, can't you?

It shouldn't be hard to implement. Today will be impossible, but I expect to be able to implement this in the next days!

[2016-07-20 15:56] mfidemraizer commented on #6
@ordinaryorange No problem! So we should close this issue!

[2016-07-20 15:56] #6 closed

[2016-07-20 15:59] mfidemraizer commented on #8
I forgot to said that I'm glad you're providing a lot of feedback! This is very nice, you're demonstrating why open-sourcing projects is a great way of not only enhancing them but also to improve my and everyone's skills!

[2016-07-20 23:51] ordinaryorange commented on #8
Yeah same here, one learns lots by reading other peoples code.
No rush on the mods, I've got temporary workaround code for the interim so I can keep moving forward on my app. Once the the latest and greatest TrackerDog is on nuget, I'll delete the workarounds and implement the shiny features.
Thanks for you interest in adding in the features.

[2016-07-22 12:08] ordinaryorange opened #9 "Override of .Equals() on proxy needed ?"
Now I'm not sure if this is a bug, or the way things should be.
If I run the following code (_the .Dumps are because I've copied direct from Linqpad._)
[code]
I get

**Are Equal**
False
**o hashcode**
103653
**o hashcode from array**
103653
**o ID**
1
**o from array ID**
2

But if I comment out .AsTrackable() i get

**Are Equal**
True
**o hashcode**
15193904
**o hashcode from array**
15193904
**o

[2016-07-22 12:35] mfidemraizer commented on #9
I'm not sure now, but without checking the code I'm pretty sure that `GetHashCode` of proxies aren't overridden, or I don't remember at all. I'll give a look at this!

[2016-07-22 12:48] mfidemraizer commented on #9
I've already checked the code. If you look inside [`ChangeTrackableObjectMixin`](https://github.com/mfidemraizer/trackerdog/blob/master/TrackerDog/Mixins/ChangeTrackableObjectMixin.cs) class you'll see what's producing this situation:

`public override int GetHashCode() => Id.GetHashCode();`

The whole mixin which gets mixed with the whole run-time generated proxy needs an stable `GetHashCode` to

[2016-07-22 17:55] mfidemraizer commented on #9
@ordinaryorange Uhm, now I'm confused.

See the following code:

            A a = new A().AsTrackable();

            Assert.AreEqual(a, a);
            Assert.IsTrue(a.Equals(a));

Both equality checks are successful. Isn't this simple test equivalent to what you're doing in your code sample?

[2016-07-22 21:55] mfidemraizer commented on #9
BTW, I believe that it would be important to see what's your `A` class source code. I try to understand what's going on in your case...

[2016-07-22 22:23] mfidemraizer commented on #8
I've pushed a new NuGet package as version 1.2.3.

Now `IObjectChangeTracking` publishes `TargetObject`.

BTW, I'm not sure if it may or may not be useful in your case, but you should explore what `TrackableType.ObjectPaths` can give you. It's a still undocumented feature I required internally but that you can take advantage of it in your own developments.

It gives you a list of `IObjectPropertyI

[2016-07-22 23:38] ordinaryorange commented on #9
Here what an A class looks like
[code]
And your above code snippet of yours is not equivalent. The issue arises because of the `Array.CopyTo()` method. Reading the docs on this method it performs a shallow copy of the objects into another array. I started to explain what I thought was going on under the hood but discovered a hole in my logic. So I need to do some more reading/experimenting. I'm pr

[2016-07-23 06:57] mfidemraizer commented on #9
Actually `Equals()` is overridden:

        public override bool Equals(object obj)
        {
            if (obj == null) return false;

            ChangeTrackableObjectMixin mixin = obj as ChangeTrackableObjectMixin;

            if (mixin == null) return false;

            return mixin.Id == Id;
        }

[2016-07-23 07:06] mfidemraizer commented on #9
It's strange but I can't reproduce your code behavior. In my case, everything is `true`:

            A a = new A().AsTrackable(); ;

            List<A> list = new List<A>();
            list.Add(a);

            A[] array = new A[1];

            list.CopyTo(array);

            Assert.AreEqual(list[0], array[0]);
            Assert.IsTrue(list[0].Equals(array[0]));
            Assert.AreEqual(a

[2016-07-23 07:12] mfidemraizer commented on #9
I've even tried your exact code in a test case! And it's always `true`!

            var o = new A();
            var olist = new List<A>();
            var trackable = o.AsTrackable();
            olist.Add(trackable);
            var oarray = new A[1];
            olist.CopyTo(oarray);

            Assert.IsTrue(olist[0].Equals(olist.First())); // This assertion passes!

Could it be something wi

[2016-07-23 07:19] mfidemraizer commented on #9
Uhm and I can also confirm that both overridden `GetHashCode` and `Equals` of `ChangeTrackableObjectMixin` aren't part of the whole proxy but used during proxy generation.

If I override `A.GetHashCode()` or `A.Equals()` they get called. Their `ChangeTrackableObjectMixin` counterparts aren't part of the proxy type but they're used to correctly cache proxy types...

Let's see if you can give me som

[2016-07-23 13:43] ordinaryorange commented on #9
Ok, it's not a VS or Linqpad issue. Managed to get your code to fail in both
Added this to the top of your code. Can you confirm it is missing ?
`TrackerDog.Configuration.TrackerDogConfiguration.TrackTheseTypes(Track.ThisType<A>());`
I think you are not generating proxies ! Just plain POCO's.

That's the first bit.
I had a look at the code and I can see that the `_id` of the mixin is just a `new G

[2016-07-23 14:35] ordinaryorange commented on #9
I see where I went wrong with the "shallow copy" understanding. The shallow copy is just on the array. So that discounts my previous idea.
However I just discovered that if we use `Trackable.Of<A>()` instead of the extension method `AsTrackable()` then the `Equals()' comparison of the first item in the List and the Array now returns True !!!
So now I have no ideas....
What does .AsTrackable() do d

[2016-07-24 08:02] mfidemraizer commented on #9
@ordinaryorange Now I'm not at home and I can't verify your conclusions. BTW, tomorrow I'll give a look!

[2016-07-24 20:17] mfidemraizer commented on #9
In my case, it's generating the whole proxy and all assertions are still `true`:

![a](https://cloud.githubusercontent.com/assets/820748/17086196/52328eee-51ec-11e6-9288-46ee64fdf485.png)

[2016-07-24 20:30] mfidemraizer commented on #9
Now I've some doubts about your case, or, in other words, I've some facts

- `A` and `AProxy` *hash code* must be different unless  `A`  has overridden `GetHashCode()`.
- A given *proxy* is another instance. The non-proxied `A` instance is *wrapped* by the proxy so it's an expected behavior that both could have different hash codes unless `A` has overridden `GetHashCode()`.

I mean that `A` and `A

[2016-07-25 00:04] ordinaryorange commented on #9
I agree with your two points above, but that's not what the issue is. I have attached a VS project which clearly shows the problem. Nothing complex just 2 classes and 3 test methods to demonstrate the issue.
When I run the tests here, Test 2 and 3 pass, and Test 1 fails. As you will see Test 3 does not use tracker dog at all, just a plain POCO. Test 2 Uses `Trackable.Of<A>();` and test 1 uses `.As

[2016-07-25 02:36] ordinaryorange commented on #9
Further update, just added a 4th test to the project for a case that I missed. Test 4 also fails.
So the issue only seems to arise when a trackable proxy is created around an existing object.
I'll keep digging.
[Tests.gz](https://github.com/mfidemraizer/trackerdog/files/380697/Tests.gz)

[2016-07-25 07:31] ordinaryorange commented on #9
I totally agree with your items above, but they do not represent the issue. I've just spend all day on it, (some of the day going in circles) but I'm narrowing down the issue. At this stage I'm getting a different result from `.Equals()` and `Assert.AreEqual()`, and in one situation the proxy being added to a generic list is not equal to the `List[0]` object !!! Grr. Going home now, but keen to ta

[2016-07-25 12:26] mfidemraizer commented on #9
@ordinaryorange Could you share again your current code to check it on my machine? I checked that you removed some comment where you put your code.

Share your most recent code in order to assist you in finding some conclusion to this issue ;)

[2016-07-25 12:54] ordinaryorange commented on #9
Ok I've hit the wall. I have been over and over it and I need your eyes to have a look.
Here is where I am -
I have made a specific VS project with 1 class containing 27 tests. Rather than copying code snippets from this thread, I have attached the whole solution for you to load and run on your machine. That will eliminate any possible variances.
The 27 tests are a matrix of
1. Creating a plain PO

[2016-07-25 13:36] mfidemraizer commented on #9
@ordinaryorange Let's try to DESTROY the wall! I'll take a look at your code!

[2016-07-25 14:11] mfidemraizer commented on #9
Do you want to cry with me? If I run, for example, one of your tests cases `AsTrackableFromExistingA_ObjectEquals_aEqualsArray0`, I get the exact issue.

Now cry: If I copy-paste the same code and I put it in TrackerDog's test project in a new test method, I get  `true`, `true`, `true`......... Now I'm going to investigate what's different on your and my project... Now I'm concerned about what's t

[2016-07-25 14:43] mfidemraizer commented on #9
Ok! I found the difference that matters!

In TrackerDog's test project, there's no type that's being configured as *trackable* without providing *included properties*. In your case you're just configuring `A` with `Track.ThisType<A>()` and you want all properties to be trackable.

I'm going to investigate what's going on then!

[2016-07-25 15:01] mfidemraizer commented on #9
I've found another difference. When you not include properties explicitly, Castle DynamicProxy won't generate a new type called `AProxy` but it will stay as `A`.

In the other hand, even when the type isn't called as `AProxy` it's still a proxy because it can still track changes! I believe that, at least, now we're in the right direction to solve the issue...

[2016-07-25 15:50] mfidemraizer commented on #9
Ohh!! I believe I could detect what was going on!

Change-tracked properties are proxies thanks to a proxy generation hook I had to implement to avoid intercepting any property and then filtering them checking they're trackable or not.

Castle Dynamic Proxy provides *hooks* so cached proxy types will just intercept those method/properties that were elegible for interception during proxy type gener

[2016-07-25 16:11] mfidemraizer commented on #9
@ordinaryorange Solved!

I've already tried v1.2.4 on your tests and now they're all passing!

So... it wasn't easy to identify the underlying problem, but we did it!

Let me know if you find any other problem that may be related to this issue. Or it would be great to know if you find it *solved* to close this issue forever! :)

[2016-07-25 20:03] mfidemraizer commented on #8
@ordinaryorange  Please tell me if I can close this issue too. Does my solution *solves* your concrete scenario?

[2016-07-26 09:20] ordinaryorange commented on #9
Crowd Roars !!!!!!!!!!
Yep, ran it over the tests here and all pass.  Then uploaded new version in my app and not I'm getting what i'm expecting. Well Done. Thankyou !
I'm gald you found it it was a head scratcher for me.

[2016-07-26 09:33] ordinaryorange commented on #8
Not quite getting what I'm after with this mod.
Here a specific example of the implemented mod to try to better explain the requirement.
When `Changed` event fires in the below, the `TargetObject` object is typeof `C`. If I call the object paths from here I only get descendant paths. I need ancestor paths so I can find root object of type `A`

[code]

[2016-07-26 09:44] mfidemraizer commented on #8
Uhm, I'll take a further look at this. I'm sure we'll find the best solution!

[2016-07-26 09:45] mfidemraizer commented on #9
@ordinaryorange  hahaha, BTW, you said "not I'm getting what I'm expecting". Is this a typo and you mean that you got what you expect? ;)

[2016-07-26 09:47] mfidemraizer commented on #9
@ordinaryorange  It was also a head scratcher for me too, I had no easy way to know what was going on. What gave me the right direction was the fact that without including properties explicitly, the type wasn't `AProxy` but just `A`....

[2016-07-26 09:49] ordinaryorange opened #10 "Additional Public Properties on Proxied object, needed ?"
Got another one that cropped up today.

I notice that a proxy of a tracked object gets all the properties of the underlying object, but in the process of making the object Trackable, the proxy also gets 2 additional public properties. `ChangeTracker` and `CollectionProperties`
In my application I was throwing the underlying object into WPF PropertyGrid. Now when I pass the proxy instead of the und

[2016-07-26 10:51] ordinaryorange commented on #9
Yep typo, all good. You can close this one.

[2016-07-26 11:18] mfidemraizer commented on #9
Nice! We're advancing then. I'll check the other issues as soon as possible to close them all too ;)

[2016-07-26 11:18] #9 closed

[2016-07-26 11:22] mfidemraizer commented on #10
Uhm now I can't give you an instant conclusion, but it should be a solution for this too.

[2016-07-26 12:41] ordinaryorange commented on #10
Not looking for an instant solution. I'd rather you take time to consider any posts, that way the outcome will be better. ;) As normal have temporary workarounds for things in the mean time.

[2016-07-26 13:57] mfidemraizer commented on #10
@ordinaryorange Nah, it was easy. Now both properties are private so you won't experience your described problem.

Try it out upgrading to NuGet package version 1.2.5!

Let me know if you find it solved!

[2016-07-26 14:13] ordinaryorange commented on #10
Hmm, just upgraded to 1.2.5, but both property getters still appear to be public.

[2016-07-26 14:31] mfidemraizer commented on #10
@ordinaryorange Uhm, Castle Dynamic Proxy has turned explicitly-implemented interface properties into public properties... Now's time for a 2nd take!

[2016-07-26 14:33] mfidemraizer commented on #10
@ordinaryorange They must be public because they're interface properties... I can't turn them into `internal`... I'll need to think any other alternative to solve this issue.

[2016-07-26 14:44] mfidemraizer commented on #10
@ordinaryorange I finding hard to solve this issue in an elegant way.

`IChangeTrackableObject` is implemented by `ChangeTrackableObjectMixin` which is the class that gets mixed with yours to build the whole proxy. Since I assume that we both think that self-tracked objects is the way to go, I don't find any way of associating change tracking-specific data to a given proxy without implementing an

[2016-07-26 14:49] ordinaryorange commented on #10
There is the `BrowsableAttribute` ([https://msdn.microsoft.com/en-us/library/system.componentmodel.browsableattribute(v=vs.110).aspx]) which would solve my direct issue but that feels like a hack.

[2016-07-26 14:50] ordinaryorange commented on #10
Is late here, will check on your progress in the morning.

[2016-07-26 14:51] mfidemraizer commented on #10
@ordinaryorange Uhm it could be a possible solution, yes. It's not dangerous at all.

BTW, I've added a Q&A on StackOverflow: http://stackoverflow.com/questions/38593185/can-a-castle-dynamic-generated-proxy-be-forced-to-implement-members-as-explicit

Where are you from? Are you in Asia?

[2016-07-26 15:40] mfidemraizer commented on #10
I've pushed a new NuGet package v1.2.6 with these attributes applied on the whole properties. Let me know if it solves your issue for now.

BTW, I'll try to solve in a more elegant way, but the most important thing is that you get what you want from now!

[2016-07-27 14:57] mfidemraizer commented on #8
I'm still working on this. The final solution will be getting a dictionary of properties to property trackings in order. The order is *the hierarchy*.

For example, Let's say `A` has an association with `B`, and `B` has an association with `C`. You'll get a list of property trackings where the first item will the tracking for `A`, `B` and `C`.

I believe that this should satisfy your requirement!

[2016-07-27 15:34] mfidemraizer commented on #8
Here's a working sample, let me know if I'm in the right track:

![graph](https://cloud.githubusercontent.com/assets/820748/17181394/491b1c78-5420-11e6-8b85-85972689d055.png)

And it's got using the following method of `IObjectChangeTracker`:

`var x =  changeTracker.GetTrackingHierarchyForProperty(typeof(B).GetProperty("C"));
`

[2016-07-28 06:06] ordinaryorange commented on #10
Downloaded the latest update, but alas no good. I still see the two additional properties.
For now I've managed to implement a workaround. Fortunately I was using https://github.com/MatthewKing/DynamicDescriptors to create the object instance for the PropertyGrid, so I've added a temporary line in my code to inspect for the 2 unwanted properties and filter them out.
Let me know when you you come u

[2016-07-28 07:03] ordinaryorange commented on #8
Well if the dictionary is ordered, then index 0 would be root, am i right ?
Whilst that would work and do for now, a future more intuitive approach might be to create a type of class like the VisualTreeHelper for WPF/Silverlight. This static class has a GetParent() and the silverlight version has a GetRoot(). just ideas.

[2016-07-28 07:24] ordinaryorange opened #11 "Loss of child proxy"
Came across another one today.
The issue arises with the use of ToUntrackedEnumerable
Here is the test code that repo's the issue
[code]
Can you confirm your end ?

[2016-07-28 09:18] ordinaryorange commented on #11
Bit more testing, get the same result if I use the `ToUntracked()` extension method

[2016-07-28 09:54] mfidemraizer commented on #11
Now I won't be able to throw a definitive answer, but I believe that it's the expected behavior.

`ToUntrackedEnumerable()` is recursive.

Are you looking for being able to tell this method and its brother `ToUntracked()` that you don't want to **recursively** turn a given collection/object to untracked?

[2016-07-28 09:59] mfidemraizer commented on #10
@ordinaryorange  It seems hard to workaround this unless you provide to WinForms/WPF/SL which properties you want to bind, am I mistaken?

I've filled an issue on Castle DynamicProxy project and I feel that our definitive solution is that this proxy generator could implement interfaces **explicitly** so their members would technicallly be **private** and you wouldn't experience the whole issue any

[2016-07-28 10:03] mfidemraizer commented on #8
@ordinaryorange  Yesterday I could advance this feature even more and `Associations` will be called `AggregateHierarchy` and it's an `IImmutableList<T>`. And yes, **items in that list are ordered by how deep is a given property tracking within the object graph**.

BTW, the root is impossible to include inside the whole list, because it's not a property, but the object itself, so you'll find it in

[2016-07-28 10:06] mfidemraizer commented on #8
@ordinaryorange  I forgot to mention that `ObjectChangeEventArgs` will give you the whole hierarchy info directly, because if I didn't understand you wrongly, you need this info there and  I want to save you from calling the whole method manually and you'll avoid using *reflection* in your project code for this!

[2016-07-28 11:05] ordinaryorange commented on #11
No that't not the issue. If you recheck the code the following is happening.
1. I Create a object graph of POCO's (root is object `a`)
2. I then turn the object graph into a proxy graph. (so the root and all decendants are now all trackables) (object representing this is `aa`)
3. I then ask the `aa` instance for the original POCO that it wraps around (assuming I did not know what it was in the fir

[2016-07-28 11:09] ordinaryorange commented on #10
Yes I checked your SO post and there was little hope there. I have a workaround for now so there is no time pressure from me. I like your ideas about moving the storage of the two properties to another class. This would keep the proxy to a more "pure" representation of the type is is wrapping.

[2016-07-28 11:26] ordinaryorange commented on #8
The parent property will be perfect for my needs.
I did already extensively inspect the `ObjectChangeEventArgs` before posting this issue. The only place I could locate the object hierachy was in my hack code as in my opening post.
Either way, the shiny new method will be much nicer, I look forward to testing it.

[2016-07-28 11:50] mfidemraizer commented on #8
@ordinaryorange Ok, let's see if I can have some spare time today because it seems like it works but 2 unrelated tests are failing. Once I got everything working, I'll be back here again!

[2016-07-28 11:51] mfidemraizer commented on #10
@ordinaryorange Yup, and I believe that it won't be a big refactor, it'll be just a good separation of concerns ;)

[2016-07-28 11:54] mfidemraizer commented on #11
@ordinaryorange  If I'm not mistaken, you might be misunderstanding what `ToUntracked()` does. It doesn't give you the object without modifying the graph but it turns the graph into a non-trackable object.

Maybe I can implement a new method called `Extract()` which can give you the same result without modifying the graph (it'll be just getting `CurrentValue` of each property tracking).

Is this w

[2016-07-28 14:45] mfidemraizer commented on #11
I've double-checked the problem and you're right... I'll investigate it further.

[2016-07-28 14:57] mfidemraizer commented on #11
@ordinaryorange I'm not sure if it's a DynamicProxy bug or a misunderstanding of how it works.

Actually, when an instance is untracked, I do something like this:

`var target = ((IProxyTargetAccessor)trackable).DynProxyGetTarget();
`

The whole `target` should be the aggregate root's proxy target (i.e. the object being wrapped...).

For now, I don't understand why getting a given property using r

[2016-07-28 15:21] FranckDepoortere commented on #7
Hi,
I guess I've got the same problem than  ordinaryorange:
I'd like to register interfaces and not final Class Types:
the reason is that I don't have access to these Classes in the place where I register configuration TrackerDogConfiguration.TrackTheseTypes(Track.ThisType<A>());
I just have access to the interfaces.

It would be very useful to register Interfaces.
Thanks
Franck D.

[2016-07-28 15:22] mfidemraizer commented on #11
@ordinaryorange  I've published a Q&A on StackOverflow: http://stackoverflow.com/questions/38640557/proxy-target-property-being-set-to-proxy-property-counterpart

[2016-07-28 19:47] mfidemraizer commented on #7
@FranckDepoortere Yeah, you both are right about this feature. This is the nice part of open sourcing project: since you don't know every use case that others might or mightn't need, you publish a basic feature set and it gets enhanced overtime!

So... I'm thinking about two possible ways of implementing this...

### Enhancing registration API

For example:

``
TrackerDogConfiguration.TrackTheseTy

[2016-07-28 19:52] mfidemraizer commented on #10
I've already implemented this enhancement, but I've not pushed a NuGet package. Let's await for #7 issue to get implemented. Since you've found a temporal workaround, you should be able to wait for the next release :)

I'll update this issue soon.

[2016-07-29 11:45] ordinaryorange commented on #10
nice work, yep can wait for #7 too.

[2016-07-29 12:16] ordinaryorange commented on #7
Yes, option 2 is definitely the better option. Option 1 would not fit well with Inversion of Control frameworks. Option 2 is definitely worth the wait.

[2016-07-29 14:10] FranckDepoortere commented on #7
I'm looking forward to testing the Lazy Registration.

[2016-07-29 14:48] mfidemraizer commented on #7
Ok, I've a preview build assembly which already implements this feature. I've not tested yet very well, but this very basic test already works:

    [TestClass]
    public sealed class BaseTypeTrackingTest
    {
        public interface IWhatever
        {
            string Text { get; set; }
        }

        public class WhateverImpl : IWhatever
        {
            public virtual string Text

[2016-08-02 13:11] mfidemraizer opened #12 "I want to be able to work with multiple tracking configurations"
TrackerDog 1.x configures change tracking using a static configuration through `TrackerDogConfiguration`.

While this works for simple scenarios, it would be great that configuration wouldn't be static anymore and I could build a change-tracked object factory from a given instance of TrackerDog's configuration.

Also, it would be nice that the whole configuration and the change-tracked object fact

[2016-08-02 13:16] mfidemraizer commented on #12
This feature will be part of TrackerDog **2.0** and above, since supporting this scenario breaks **1.x** configuration model.

The whole feature will be available soon and configuration model takes the following form:

[code]

And objects are turned into _trackable_ using the whole `ITrackableObjectFactory` implementation instead of extension methods:

[code]

While it breaks both the 1.x configur

[2016-08-02 20:25] mfidemraizer commented on #11
Finally I believe that the issue behavior is the expected one. If you set the target property, the proxy object changes because it wraps the whole target object.

I believe that a definitive solution to this issue is that `ToUntracked()` should return a _deep clone_ of the target, instead of the target itself. I'll work on it, I believe that it should be as easy as cloning the object with recursio

[2016-08-03 20:27] mfidemraizer commented on #11
@ordinaryorange Hey,

Finally I managed to solve it performing a deep clone of the whole proxy target (the underlying object that's being wrapped by the whole proxy...).

For now, it's not the most performant solution but it works fine. I use the serialization/deserialization approach. There're more powerful ones like ones using expression trees (and there're many libraries out there implementing

[2016-08-03 20:27] #11 closed

[2016-08-05 15:34] FranckDepoortere commented on #7
Hello @mfidemraizer ,

Thanks you for your improvement about Tracking Interfaces.

Nevertheless, I thing there a problem when we use autotracking on properties, and that a property has a Getter, and NO Setter.
I have hundreds of types of Objects to track and a cannot specify all properties to track.

Ex:

[code]

I've got a nullpointer line 69, class SimplePropertyInterceptionHook: p.SetMethod is

[2016-08-05 16:02] mfidemraizer commented on #12
Done!

[2016-08-05 16:02] #12 closed, assigned to mfidemraizer

[2016-08-05 16:04] mfidemraizer commented on #7
First of all, I've just released 2.0.0 on Nuget, now you can try it directly by upgrading your solution to this package version.

@FranckDepoortere About your concern, I would create a new issue to discuss this.

[2016-08-05 16:05] mfidemraizer commented on #8
Done! Try it on NuGet package version 2.0.0!

[2016-08-05 16:05] #8 closed

[2016-08-05 16:05] mfidemraizer commented on #10
Done! This fix is available on NuGet package version 2.0.0 and above ;)

[2016-08-05 16:09] mfidemraizer opened #13 "Read-only/write-only properties should be skipped from being tracked by default"
@FranckDepoortere has identified this issue on #7

When you want to track changes of types (either from interfaces or classes) that you don't own the source code or maybe you've tons of them, and you just want to track them all, and some of these types may not have all properties `virtual` and with a _getter_ and  _setter_, TrackerDog will fail on this use case with an exception (actually I didn't

[2016-08-05 16:09] mfidemraizer commented on #7
@FranckDepoortere Let's continue the discussion on #13

[2016-08-05 16:09] #7 closed

[2016-08-05 16:54] mfidemraizer commented on #13
See your code sample:

[code]

I suspect that the last line instantiating `IMyInterfaceId` is wrong, and your sample should be `factory.CreateFrom(new IdClass())`.

BTW, in my case I've executed your code and it had no issues.

Anyway, I've improved the code to avoid two things:
1. Now `SimplePropertyInterceptionHook` checks that each property has a getter and setter, and if it doesn't meet the re

[2016-08-06 06:32] FranckDepoortere commented on #13
Hello @mfidemraizer ,

Ok, I see, you changed the API.

I tried to used Nuget dll, but unfortunately, my project needs to use Strong Name Signed libraries
and if I sign the Nuget asssembly TrackerDog.dll, I've got and issue on Friends references
That' s why I used sources before.

The pb seems to be on this assembly:
[assembly: InternalsVisibleTo("DynamicProxyGenAssembly2")]

Stack error when I ca

[2016-08-06 08:42] mfidemraizer commented on #13
@FranckDepoortere  Yeah, no problem, I understand the issue!

I've attached to this message a copy of an already signed `TrackerDog.dll` 2.0.1:

[Download it: TrackerDog.zip](https://github.com/mfidemraizer/trackerdog/files/404934/TrackerDog.zip)

Could you try it and let me know if it solves the issue? If it solves it, I'll commit a modified Visual Studio solution that can compile TrackerDog with

[2016-08-06 14:10] FranckDepoortere commented on #13
Yes, the problem on Readonly properties is fixed.

Thanks for your help and your reactivity.
Franck

On 6 August 2016 at 10:42, Matías Fidemraizer notifications@github.com
wrote:

##

Franck Depoortere
07 60 68 61 17
http://www.depoortere.eu.org

[2016-08-06 14:48] mfidemraizer commented on #13
@FranckDepoortere No problem! I'm enjoying your feedback. I really want to make TrackerDog as useful as possible.

I've already [pushed a new NuGet package called TrackerDog.Signed](https://www.nuget.org/packages/TrackerDog.Signed/). From now, whenever we publish a new version, I'll push both regular and signed NuGet packages!

[2016-08-06 14:52] #13 closed, assigned to nobody

[2016-08-06 15:37] FranckDepoortere commented on #13
Great news about Signed dlls !
Have a good WE

[2016-08-06 18:37] mfidemraizer commented on #13
@FranckDepoortere You're welcome! I hope that you and @ordinaryorange, and many others may provide even more feedback!

Clearly a change-tracking library/framework won't take us to the moon, but I'm pretty sure that there will more unknown use cases that TrackerDog will need to cover.

Thank you for the feedback ;)

[2016-08-08 10:02] FranckDepoortere opened #14 "Configuration: using annotations"
Hi,

I spent this morning to write the configuration to track my objects.
The pb is that I’ve got one hundred of classes to configure, and I had to specify all properties to track, because of lot of exceptions launched by the Castle proxy. So I’ve got 1000 properties to specify..
My configuration is far too long and difficult to maintain now.
It’s a nightmare to manage.

I think one thing could im

[2016-08-08 11:44] mfidemraizer commented on #14
@FranckDepoortere Hey!

First of all, I understand your frustration. I would feel the same as you in your situation.

BTW, I need one very important information here to evaluate the problem:

1. Which is the exception and its message and stack trace?
2. Did you identify when it happens?

## About the attribute-based configuration

Clearly it could be implemented and it wouldn't be a great effort.

[2016-08-08 12:01] mfidemraizer commented on #14
@FranckDepoortere Hey!

First of all, I understand your frustration. I would feel the same as you in your situation.

BTW, I need one very important information here to evaluate the problem:
1. Which is the exception and its message and stack trace?
2. Did you identify when it happens?

## About the attribute-based configuration

Clearly it could be implemented and it wouldn't be a great effort. B

[2016-08-08 12:10] mfidemraizer commented on #14
@FranckDepoortere  Please check the message above of this. I published the comment before finishing it and I guess you've got a notification with a partial text...

[2016-08-08 12:49] FranckDepoortere commented on #14
@mfidemraizer
Your solution is better than the current mechanism.
If you choose this way, I'll take it. Sure

But I  would say that annotations would be more adapted to my context.
All libraries don't need to use annotations: it's because your code works massively on reflection that annotation is well fitted.

I'm coming back to my JSON sample:
If I had to implement a specific interface to manage

[2016-08-08 13:21] mfidemraizer commented on #14
@FranckDepoortere  I understand your thoughts.

A third option would be something like this:

[code]

And the attribute-based configuration and any other that we could invent, it should be implemented calling the above method.

This way, if you find a new limitation on how to automatically configure types, you'll have the low-level tool to implement a new convention or approach.

Well, I'm going t

[2016-08-08 14:00] FranckDepoortere commented on #14
That's a great news !

You're not convinced: I hope that with time, you'll find that annotations are great for the job and I'm persuaded that people who'll chose TrackerDog will be grateful for this feature.

Anyway, many thanks
Franck

[2016-08-08 14:27] mfidemraizer commented on #14
@FranckDepoortere  I'm not against attributes. I like configuring things with attributes, but I don't do this way for every case in the world ;D

Anyway, I don't want to act like other authors that they close their mind to their own way of understanding the world. If you're going to be more comfortable with attributes and many may do too, why I shouldn't  implement this configuration approach too?

[2016-08-08 17:12] mfidemraizer commented on #14
@FranckDepoortere You can already try this enhancement!

See [2.1.0 release notes](https://github.com/mfidemraizer/trackerdog/releases/tag/2.1.0) where I've put some links. Also, if you check[ `ConfigurationTest.cs`](https://github.com/mfidemraizer/trackerdog/blob/2.1.0/TrackerDog.Test/ConfigurationTest.cs) you should be able to easily understand how to use the whole attribute-based configuration!

[2016-08-08 17:13] mfidemraizer commented on #14
@FranckDepoortere The NuGet package is also available in regular and unsigned flavors.

Let me know if you find any issue with this new feature so we can close this thread (or not, of course) ;)

[2016-08-08 18:34] darkcamper opened #16 "NullReferenceException when creating proxy with constructor initialized properties"
When I try to create a proxy from a class that assigns a value to a property from the constructor a NullReferenceException is thrown.

I know that calling virtual member functions from the constructor can cause problems, but the property is only virtual because it is necessary for proxy creation.

I have added a new test to ProxyCreationTest.cs that reproduces this issue.

[2016-08-09 06:29] FranckDepoortere commented on #14
Hi,
Many thanks for your reactivity.
It seems perfect.
I'll test it this morning
Franck

On 8 August 2016 at 19:13, Matías Fidemraizer notifications@github.com
wrote:

##

Franck Depoortere
07 60 68 61 17
http://www.depoortere.eu.org

[2016-08-09 09:17] mfidemraizer commented on #14
@FranckDepoortere No problem, you're welcome!

I'll be waiting for your comments/feedback :)

[2016-08-09 09:28] FranckDepoortere commented on #14
I'm trying to use the annotation mode,
but my classes have many methods and properties, and I'm stuck with an exception:
{"Méthode property-set introuvable."}
In english:
{"property-set method not found."}
But I don't know the name of this property.
Many properties are readonly in my classes.

Would it be possible to indicate the property which throwing exceptions like this ?

I like the idea to c

[2016-08-09 09:31] mfidemraizer commented on #14
Argh I'll try to reproduce the issue creating classes with read only properties and see what's going on

[2016-08-09 09:45] FranckDepoortere commented on #16
I've got the same issue too.

[2016-08-09 10:18] mfidemraizer commented on #14
@FranckDepoortere Ok, I could reproduce the issue.

It happens if you've a **collection** property which doesn't have a _setter_:

[code]

Or even if the whole property isn't `virtual`.

I'm already working on fixing it. It should be an easy one, since it's just about ignoring read-only or write-only properties.

[2016-08-09 10:40] mfidemraizer commented on #16
@FranckDepoortere  It's already fixed, but I need that the lazy @darkcamper can update the pull request (note he's a friend of mine :P)

[2016-08-09 10:45] mfidemraizer commented on #14
@FranckDepoortere  Here you've an assembly which already fixed this issue.

Can you try it please?

[TrackerDog.zip](https://github.com/mfidemraizer/trackerdog/files/408729/TrackerDog.zip)

Let me know if it fixed this issue to build the NuGet package and publish it.

[2016-08-09 11:13] mfidemraizer commented on #14
@FranckDepoortere  While I've added a code contract that would notify which property has no _setter_, it's unsure that it will be broken because now that code will never be reached if a property has no getter and setter.

About the alternate way of configuring TrackerDog with the possible interface `IObjectChangeTrackingConfigurator`, I didn't implement it.

If you really need it, I can implement

[2016-08-09 12:27] FranckDepoortere commented on #14
Actually, it's better, the exception indicates the properties with the
issue and I can solve the pb.
 but I still have a little problem:

Example:

[code]

public class Profil
        {

[code]

this.GetAssociationsProfilRubs(true);
}

this class throws an exception about AssociationsProfilRub :
Property AssociationsProfilRub  must implement a setter

[image: Inline images 1]

But if a add the ann

[2016-08-09 12:31] FranckDepoortere commented on #14
![capture](https://cloud.githubusercontent.com/assets/11599204/17516311/dfb94502-5e3d-11e6-9286-3a5b7eab4448.PNG)

[2016-08-09 13:12] FranckDepoortere commented on #14
Ok, I didn't read your last comment:
ok, I understand it's normal to broke if there is not setter.
I don't have any answer to your thought: need to think.

[2016-08-09 14:12] mfidemraizer commented on #14
@FranckDepoortere Hey

But I don't understand what's going on. If you don't put `[DoNotTrackChanges]` on your collection property with just a _getter_, does it break the contract and throws an exception?

[2016-08-09 14:30] FranckDepoortere commented on #14
Yes, without the attribute [DoNotTrackChanges], I receive the exception:
Property AssociationsProfilRub  must implement a setter

But unfortunately, its not my only pb:
My classes inherit of 5 others parents sometimes, and I receive Exceptions like :
"Your class must not be final or sealed".
That's not the case actually.
I came back to my former configuration without annotations for the moment.
I

[2016-08-09 14:43] mfidemraizer commented on #14
@FranckDepoortere  Please don't remove these attributes yet, I'm trying to reproduce the exception...

[2016-08-09 15:03] mfidemraizer commented on #14
@FranckDepoortere Let's try with this updated assembly:

[TrackerDog.zip](https://github.com/mfidemraizer/trackerdog/files/409220/TrackerDog.zip)

Let me know how it worked in your case.

[2016-08-09 15:08] FranckDepoortere commented on #14
I'll try tonight.
I do a break: my kids need to go out..
Thanks

On 9 Aug 2016 17:03, "Matías Fidemraizer" notifications@github.com wrote:

@FranckDepoortere https://github.com/FranckDepoortere Let's try with this
updated assembly:

TrackerDog.zip
https://github.com/mfidemraizer/trackerdog/files/409220/TrackerDog.zip

Let me know how it worked in your case.

—
You are receiving this because you we

[2016-08-09 15:09] mfidemraizer commented on #14
@FranckDepoortere  You said in your last comment:

But this exception means that the most derived one is a `sealed` class. It has nothing to do with the parent classes. If they were `sealed` they couldn't be inherited after all!!

The other problem it should be solved with the latest assembly I've built to test with your case. Attribute configuration was getting properties that weren't virtual or

[2016-08-09 15:10] mfidemraizer commented on #14
@FranckDepoortere  Ok, or tomorrow. I'll look forward your comments! Enjoy your kids ;)

[2016-08-10 07:46] FranckDepoortere commented on #14
Hi @mfidemraizer ,
That's strange : the behaviour in Annotations mode is different from the other configuration mode.

I'll try to explain my context:

I need to track the class: ProfilCommun that inherits from classes Profil, PayslipModelObject, PayslipModelObjectBase

[code]

In the former configuration mode, I did this without any pb :

[code]

The abstract class PayslipModelObjectBase don't ca

[2016-08-10 09:13] mfidemraizer commented on #14
@FranckDepoortere I'm going to take a look at this and I'll give you an updated assembly as soon as possible.

We'll do this way until I could solve your issues and I'll release a NuGet package with all problems solved.

[2016-08-10 11:27] mfidemraizer commented on #14
@FranckDepoortere  Sorry, I'll continue with this after having lunch. I had to do some other things during this morning ;(

[2016-08-10 12:29] mfidemraizer commented on #14
@FranckDepoortere  I'm trying to reproduce the exception and I'm unable to find what use case produces the problem.

My attemp has been this:

[code]

And I run this test:

[code]

In my case, the whole code contract is passed.

What's different in your case?

[2016-08-10 17:22] FranckDepoortere commented on #14
I think I found the reason of my problem:
My class 'CommonProfil' had too constructors:
1 constructor with a main class Manager, that I use everywhere.
An other with too arguments.

I tried with others classes with only one constructor: it's OK.

Are we limited to only one constructor ?
Is it volunteer ?

Franck

On 10 August 2016 at 14:29, Matías Fidemraizer notifications@github.com
wrote:

##

F

[2016-08-10 17:27] mfidemraizer commented on #14
@FranckDepoortere No, I think that it should be possible to design classes with more than a constructor, although there should be always one paramaterless constructor.

[2016-08-10 17:36] mfidemraizer commented on #14
@FranckDepoortere I've run some tests and TrackerDog has no problems with multiple constructors, at least, with the use cases I've tested now....!

For example, if I add two constructors to `AbstractClass`, it works flawlessly:

[code]

And this small class inheritance has no issues when I try to configure it and also create a change-trackable object from a `DerivesAbstractClass` instance...

So..

[2016-08-10 18:32] FranckDepoortere commented on #14
Yes, you're right, I'm gone do a simplified code to try to reproduce.
Thanks for your search

On 10 August 2016 at 19:36, Matías Fidemraizer notifications@github.com
wrote:

##

Franck Depoortere
07 60 68 61 17
http://www.depoortere.eu.org

[2016-08-10 18:36] mfidemraizer commented on #14
@FranckDepoortere Ok thanks, because this will become a nightmare and I believe we are both wasting a lot of time. Lesson learned: we should always start with a code that could be executed and that could reproduce what's failing.

If we do things right, an issue like current one could be solved in an hour, otherwise, it can take days...

[2016-08-11 09:24] FranckDepoortere commented on #14
@mfidemraizer
I think you can commit your previous fixes:
I'll add an issue when I'll be able to isolate it.
I'll find it this month anyway, because I'm gone work actively with your library
Have a good day.
Franck

[2016-08-11 09:29] mfidemraizer commented on #14
@FranckDepoortere Uhm, this is sad!

Wouldn't be hard to just define classes like `A`, `B`, `C` and `D` that would act like your actual code to just throw the exception? :\

Or better than that: if you could give me the assembly where you've the whole types, I should be able to reproduce the exception.

[2016-08-13 16:26] FranckDepoortere commented on #14
Hi,

I think I've got a clue with my class which dont want to be trackable with annotations :
My class has no trackable property on its top class, the trackable properties are in the base classes.
Without trackable propertie, I've got the error in the factory:
"The object type to track must be a non-abstract, non-sealed class"
But after I added a Dummy property in my top class, I had no more error

[2016-08-13 19:51] mfidemraizer commented on #14
@FranckDepoortere  Thank you for your effort. I'll try to reproduce the bug based on your new feedback! ;)

[2016-08-13 20:28] mfidemraizer commented on #14
@FranckDepoortere  As you said, your test code works fine, the so-called code contract is fulfilled, so there's no exception there.

Now the problem is how do we reproduce the bug? It's very very strange, what should be what makes the difference with your test and actual code??

[2016-08-13 20:37] mfidemraizer commented on #14
@FranckDepoortere  I got an idea!

I've modified the contract to not also give the so-called message "The object type to track must be a non-abstract, non-sealed class" but also provide the object type name that doesn't fulfill the code contract:

`Contract.Assert(typeToTrack.IsClass && !typeToTrack.IsAbstract && !typeToTrack.IsSealed, $"The object type to track '{typeToTrack.AssemblyQualifiedName

[2016-08-14 22:27] FranckDepoortere commented on #14
Hello,

This time, details of the error is different:
There is an error about an Enum named ModifiedFlag:

Code of the enum:

[code]

Here the entire code of the class PayslipModelObjectBase in my project: PayslipModelObjectBase.cs

I wasnt able to throw the same exception as above, but I noticed some other pb:
 I add some stuffs that throw Exceptions in my test program:

Full Code here:
[MyTest.c

[2016-08-15 10:03] mfidemraizer commented on #14
@FranckDepoortere Hi!

So the problem seems to be nested types like an enumeration nested in a class. BTW, I've tried to reproduce the bug again and I'm unable to get the problem!

For example, I've tried to configure the following class inheritance with attributes:

[code]

And I could create a proxy...:

[code]

I've also run your test code and won't throw the exception.

It's very very hard for

[2016-08-15 10:04] mfidemraizer commented on #14
@FranckDepoortere About the other errors, I've already fixed them.

[2016-08-15 10:46] FranckDepoortere commented on #14
I understand.
I can't give you my project: its to big and to complex to run (need db, webservices, ..).
I need to work on the test program to try to throw the same error.
For the moment, my dummy property fix this strange issue.
I'll work on this next week

Is there a new version of TrackerDog on Nuget to fix the other errors ?
Thanks
Franck

[2016-08-15 12:35] mfidemraizer commented on #14
@FranckDepoortere

I've added a new contract on `TrackableType` constructor to prevent configuring something that may not be a class or interface.

Can you try this updated assembly?

[TrackerDog.zip](https://github.com/mfidemraizer/trackerdog/files/418124/TrackerDog.zip)

**Please let me know if this throws a different exception**. It should be:

`Contract.Assert((type.IsClass && !type.IsSealed)

[2016-08-15 13:38] mfidemraizer commented on #14
@FranckDepoortere  I've already uploaded a working assembly [TrackerDog.zip](https://github.com/mfidemraizer/trackerdog/files/418124/TrackerDog.zip).

Please check the things I've posted in the previous message from an hour ago.

[2016-08-15 13:52] mfidemraizer opened #17 "Class with read-only properties throwing exceptions cause problems"
Copy-pasted from [issue 14](https://github.com/mfidemraizer/trackerdog/issues/14#issuecomment-239701714) from a comment of @FranckDepoortere

The factory cannot build the object because of this property. My explanation is below:

[code]

[2016-08-15 14:01] mfidemraizer commented on #17
@FranckDepoortere I've tried to configure this type:

[code]

And I've configured it as follows:

[code]

And later I've created a trackable object using this code:

`TrackableObjectFactory.CreateOf<ClassWithReadOnlyPropertyThrowingException>();`

This has thrown no exception at all...

Sadly I believe that we need to be more efficient, because simple issues are taking ages to get solved, because

[2016-08-15 14:04] mfidemraizer commented on #14
@FranckDepoortere About the possible bug of read-only properties which throw an intended exception, please continue this issue on #17

And about setting properties on constructors, there's already an issue for that: #16

Each problem should be in a separate issue, because future visitors should be able to find if their problem was already addressed or not, and checking a so long discussion drives

[2016-08-15 14:11] FranckDepoortere commented on #17
I'm sorry: I had the pb in the testcase yesterday. (https://github.com/mfidemraizer/trackerdog/files/417292/MyTest.cs.txt)
It's solved with the zipped version today.

Thanks
Franck

[2016-08-15 14:12] mfidemraizer commented on #17
@FranckDepoortere  Ok! Good news! So I close this issue then :D

[2016-08-15 14:12] #17 closed, assigned to mfidemraizer

[2016-08-15 22:20] FranckDepoortere commented on #14
Hi mfidemraizer,
I've got a good news for both of us:
I've updated your dll with the last version of this afternoon,
I've spent 2 hours to cleaned up all my code to prepare our meeting tomorrow, the demo and the bug ...
and ... I'm unable to throw the exception: it's vanished
I dont know exactly the reason yet, but ... that's a good thing :)
I've tested 10 times, and it's OK. I dont need to add my

[2016-08-15 23:29] mfidemraizer commented on #14
@FranckDepoortere I don't like saying this, but once you gave me the details of which type was failing (an enumeration) I realized that it should be something with a wrong configuration. But I prefer to give credit to others' problems.

Anyway, I'm not 100% sure about this, you should really find what was causing your problem, either if it's a TrackerDog fault or not, and I would love to hear abou

[2016-08-16 19:48] mfidemraizer commented on #16
Because of some personal affairs, @darkcamper couldn't fix the associated pull request, thus, I've already fixed this issue and I've provided a simple test case demonstrating that it already works!

TrackerDog NuGet package v2.1.1 is already available.

[2016-08-16 19:48] #16 closed, assigned to mfidemraizer

[2016-08-16 19:50] mfidemraizer commented on #14
@FranckDepoortere  I've already published the NuGet package version 2.1.1 unsigned and signed.

I hope that TrackerDog may not block your progress anymore, and if so, please don't hetistate to fill more issues ;) Thank you!!

[2016-08-16 19:50] #14 closed, assigned to mfidemraizer

[2016-08-19 12:05] mfidemraizer opened #18 "TrackerDog should be continuously-integrated and continuously-deployed"
It would be great to have a build status badge on GitHub repository home, and being able to download to latest builds and binaries before an official release.

[2016-08-19 12:37] mfidemraizer commented on #18
For now, I've been able to add a build status badge on repository home.

BTW, now the solution is built using an Azure Team Services build agent.

Now I need to check how to publish build artifacts and make them available publicly through HTTP.

[2016-08-31 06:00] mfidemraizer commented on #18
For now it seems like Visual Studio Team Services won't support issue's requirements: http://stackoverflow.com/questions/39039008/how-to-link-to-latest-build-on-visual-studio-team-services

At least, we've a build status icon...

[2016-08-31 06:00] #18 closed, assigned to nobody

[2016-10-26 19:19] gtmacgregor opened #19 "Enum properties"
Is it possible to get this working with tracked enum properties?

public class A {
 public enum AEnum {
  One = 1,
  Two = 2
 }

 public virtual string Name { get; set; }
 public virtual AEnum AVal { get; set; }
}

When I try to track the A class (or instance of) it failed with a Contract Exception.

Thanks

 Glenn

[2016-10-27 06:05] mfidemraizer commented on #19
@gtmacgregor

Hi!

I'll try to reproduce the issue and I'll give you a solution for it as soon as possible.

Thank you for using TrackerDog!

[2016-10-27 06:16] mfidemraizer commented on #19
Hi again!

In my case, there was no issue in your scenario:

[code]

Are you using TrackerDog 2.x? Please verify that you're on 2.x version, because maybe the bug is on 1.x branch, which is obsolete and it won't be more further development on it.

If you're using TrackerDog 2.x, how are you configuring your `A`  class to be trackable? Manual configuration or attribute-based configuration?

And...

[2016-11-18 10:30] Franklin89 opened #20 "WPF Binding "HasChanges""
Hi

First off nice work with this library.

I am wondering if it is possible to bind to a Property that will tell me if there are changes on a object so that it could be displayed in the UI?

Example:
Got an object "User" on a TabItem and I want to show a * or any symbol if the Object "HasChanges"

Thanks for any hint

[2016-11-18 20:57] mfidemraizer commented on #20
First of all, thank you for your good comments ;)

About your issue, it seems like it should be possible.

I'm thinking about defining a property like this:

`public virtual bool HasChanged { get; set; }`

So, you class constructor could subscribe to `IObjectChangeTracker.Changed` event to set `HasChanged` property:

[code]

Since `User` will be a proxy during run-time, and it'll automatically imp

[2016-11-19 09:47] mfidemraizer commented on #19
Since I got no feedback, I close the issue for now. If you want to continue the discussion, feel free to re-open it!

[2016-11-21 20:58] gtmacgregor commented on #19
Hi!

Sorry for the long delay. I am using TrackerDog 2.1.1 currently and am still having this same issue, although it might be due to how I am using it. Let me explain my thoughts below:

I have a set of lightweight DTO's which are meant to be readonly interfaces & objects that represent data from a store (DB). The interfaces are readonly meaning the properties only have getters but the implementa

[2016-11-21 21:13] mfidemraizer commented on #19
@gtmacgregor Oops. I see. I believe that something like this happened in another issue but we concluded that it was something wrong on the application code. I don't remember the details.

Could you paste the exception *stack trace* too, please?

Today I won't be able to try your code, but in 1-2 days I'll give you an answer or a bugfix (if it's a bug!).

Thank you for the effort for the detailed e

[2016-11-21 21:16] mfidemraizer commented on #19
@gtmacgregor Could you also provide your tracking configuration?

[2016-11-21 21:28] gtmacgregor commented on #19
Thanks for the quick response!

So for my testing I am not using attribute based config, below is all I am doing - not I am not even tracking the UserKind property:

this is inside the MutableUser constructor:
[code]

Below is the stack trace:

[code]

[2016-11-21 22:58] mfidemraizer commented on #19
@gtmacgregor

No problem!

Well I'll investigate what's going on in 1 or 2 days

[2016-11-22 22:28] mfidemraizer commented on #19
@gtmacgregor

I've tried to reproduce your scenario... BTW, I'm unable to do so because you didn't provide me the full code, it's like a pseudo-code...

It would be nice if you could attach a ZIP which I could execute in my machine... (for example, you could try to reproduce your code in a sample test project to let me get the contract assertion fail and check what's going on).

[2016-11-22 22:35] mfidemraizer commented on #19
@gtmacgregor Nevermind, I could reproduce the issue adding an `enum` property in an interface tracking test. Now I can solve the issue ;P

[2016-11-22 22:55] mfidemraizer commented on #19
@gtmacgregor  Good news! I've already fixed it. When configuring change trackings using interfaces, there was an incomplete `Type` filter which wasn't throwing out `enum` (and also `struct`).

I've already published a new NuGet package version: 2.1.2.

Try it out and let me know what happened.

BTW, here I put my two cents about your code:

1. Change tracking configuration shouldn't be created and

[2016-11-23 19:36] gtmacgregor commented on #19
Thank you, it works as expected now!

A bit of explanation on why I set it up as I did.

I want to have a lightweight readonly version of the DTO which does not rely on external dependencies (TrackerDog) so to do this I have an interface which is readonly (no setters). The implementation of that interface contains internal setters for each property. Then I created a mutable implementation which de

[2016-11-23 20:33] mfidemraizer opened #21 "How to implement DTOs avoiding an explicit dependency to TrackerDog"
@gtmacgregor has raised a question in issue #19:

I've moved here to be able to close #19 and discuss his concerns here :)

[2016-11-23 20:33] mfidemraizer commented on #19
@gtmacgregor  I'm glad I could solve your issue (and a bug, of course!). Thank you for your feedback.

I'll copy-paste your software architecture concerns in a new issue. We continue this discussion here: #21.

[2016-11-23 20:33] #19 closed, assigned to mfidemraizer

[2016-11-23 20:41] mfidemraizer commented on #21
@gtmacgregor Uhm, while I understand what you said, I'm trying to figure out what's the requirement behind your concerns.

Let me know if I guessed right your problem:

- You want DTOs to be **read-only** because you want to return them and avoid the risk of someone setting them while this should be done in a lower layer (i.e. domain).

- You're implementing a library which would work as I've ment

[2016-11-28 15:24] gtmacgregor commented on #21
@mfidemraizer

Thanks for all the time helping!

Yes you are correct, I would like to have a set of read-only DTO's for the reason you mentioned as well as reducing dependencies, don't want trackerdog as a dependency on the read-only versions as those will be consumed by many who have no need to change anything.  So due to that requirement I do need an analogous set of objects which are read-write

[2016-11-28 15:28] gtmacgregor commented on #21
I am thinking of using a generic decorator to make the read-only objects mutable using a SetProperty function but that will require reflection which I don't really want to employ if possible.

[2016-11-28 20:22] mfidemraizer commented on #21
@gtmacgregor

I believe that your issue is you're creating trackable objects inside class constructors (as I checked in the other issue #19).

Maybe you need to design your DTOs as follows:

[code]

DTOs are read-write by default, but they implement *read-only* interfaces. When you need to transfer from data to a tier where you don't want read-only DTOs, you just need to return them casted to `IRe

[2016-11-29 21:09] gtmacgregor commented on #21
@mfidemraizer Thank you!

I have another question, so what if my CustomerDto contains a list of ContactDto's. Ideally in the readonly interface I would expose IEnumerable<IContact> (IContact is readonly) so my IReadOnlyCustomerDto is still readonly by virtue of the IEnumerable and IContact...can't add/remove anything is IEnumerable and IContact is the readonly interface.

I can make another tracke

[2016-11-29 21:15] gtmacgregor commented on #21
@mfidemraizer My goal is to just force the user to use a tracked version of the object if they are going to make changes so those changes can be sent to the data store. Maybe I am going about it wrong or it is not possible.

Thanks

 Glenn

[2016-11-29 23:14] mfidemraizer commented on #21
@gtmacgregor

First of all, I understand that the `IReadOnlyWhatever` approach is fine for you?

## About the next question/concern

Don't use `IEnumerable<T>` to represent read-only collections. [Use `System.Collections.Immutable`](https://msdn.microsoft.com/en-us/library/system.collections.immutable(v=vs.111).aspx) and an [`IImmutableList<T>`](https://msdn.microsoft.com/en-us/library/dn467185(v=

[2016-12-01 16:25] gtmacgregor commented on #21
@mfidemraizer Thank you, working well!

I am having an issue with getting collection change info. I tried to follow the examples to get the IReadOnlyChangeTrackableCollection by:

IReadOnlyChangeTrackableCollection c = (IReadOnlyChangeTrackableCollection)entity.Contacts;

Contacts returns an IList<Contact> but I get a runtime error when the above is executed:

Unable to cast object of type 'System

[2016-12-01 18:52] gtmacgregor commented on #21
@mfidemraizer

I did some digging and found in your tests when you create a trackable WhateverParent from an existing WhateverParent in CollectionItemsArePreservedWhenTurningParentObjectIntoTrackable the list are also proxied. Meaning before the object is trackable List and List2 are just Lists but after the CreateFrom the tracked object List and List2 types are now IList Proxy. This is not happen

[2016-12-01 20:25] mfidemraizer commented on #21
@gtmacgregor Let's move this to *yet* another issue ;D

[2016-12-01 20:27] mfidemraizer opened #22 "Collection change tracking not working"
@gtmacgregor has found a problem when trying to track changes on some collection property on issue #21

Let's move the discussion to this new issue.

Description:

And:

[2016-12-01 20:28] mfidemraizer commented on #21
@gtmacgregor So we continue the new issue here: #22

[2016-12-01 20:29] #21 closed, assigned to mfidemraizer

[2016-12-01 20:34] mfidemraizer commented on #22
@gtmacgregor

Maybe I'm mistaken, but I guess the issue is the whole `Contacts` collection property setter! :D

`set { mContacts = value.ToList(); }`

When you call `Enumerable.ToList<T>(...)` you're turning the proxy into a regular `List<T>` again.

So... just try to remove that `Enumerable.ToList<T>(...)` call and see what happens.

Let me know if this was the issue! I'll look forward for your c

[2016-12-08 10:20] mfidemraizer opened #23 "Issues when a trackable object should be unwrapped to a non-trackable one"
I've found issues when calling `some.ToUntrackable` is the whole object implements `IDictionary<TKey, TValue>` but it's not intended to be used as a dictionary but it's a `DynamicObject` like a custom `ExpandoObject` wannabe.

Since I've implemented unwrapping using JSON serialization (i.e. I'm cloning objects), JSON properties are set as dynamic properties while type's properties should have prio

[2016-12-08 10:21] mfidemraizer commented on #23
Solved: it was just about implementing a custom JSON.NET's contract resolver as described on this StackOverflow Q&A: http://stackoverflow.com/questions/40675841/json-net-deserializes-an-object-implementing-idictionarytkey-tvalue-as-dictio

[2016-12-08 10:36] #23 closed, assigned to mfidemraizer

[2016-12-09 10:53] mfidemraizer opened #24 "Internal cloning, collection and configuration retrieval issues"
I've found some issues when TrackerDog tries to clone an object while turning a change-trackable object into a non-trackable one. Since I'm using JSON.NET to clone objects, some of them might be part of a very extensive object graph with circular references.

In the other hand, there are problems when turning empty trackable collections to non-tracked ones.

[2016-12-09 10:55] mfidemraizer commented on #24
I've already solved both issues.

Now cloning is done without serialization, but yet with JSON.NET JSON-to-LINQ (i.e. `JObject.FromObject`).

About the collection unwrapping thing, I've performed a small refactor to let the code retrieve a given `IObjectChangeTrackingConfiguration` instance from the change-trackable collection itself instead of doing so from first element in the collection (this w

[2016-12-09 11:00] #24 closed, assigned to mfidemraizer

[2016-12-09 15:05] gtmacgregor commented on #22
@mfidemraizer

Working great, thank you for all your help!

[2016-12-09 16:08] mfidemraizer commented on #22
@gtmacgregor  Nice! Check that I've released TrackerDog 2.1.4 becuase I found some bugs and I've already fixed them (I'm using this project in my workplace). Maybe they wouldn't affect you at all, but it shouldn't be a bad idea that you upgrade your NuGet package to 2.1.4.

Let's close this issue. If you find any further problem or you need guidance, I'll be always happy to assist you ;)

[2016-12-09 16:08] #22 closed, assigned to mfidemraizer

[2016-12-10 21:34] mfidemraizer opened #25 ".NET Core support"
It would be great that TrackerDog could also work on .NET Core.

[2016-12-10 21:37] mfidemraizer commented on #25
It seems like this can be possible because Castle Project is already working on the 4th version of [Castle DynamicProxy supporting .NET Core.](https://github.com/castleproject/Core/releases).

In the other hand, I believe that I'll need to perform a small refactor on current code base because of the differences of .NET Framework and .NET Core in terms of how to access type metadata. `GetType()` vs

[2016-12-29 10:39] mfidemraizer opened #26 "I need to be able to clear collection changes"
I've came to an edge case.

I'm tracking changes for an `ISet<T>` and, for some project requirement, I need to clear it and re-add all items in order to re-hash them internally in an implementation like `HashSet<T>`.

Currently, if I call `ICollection<T>`.Clear`, items will be cleared, but tracking information will still say that I've removed some items, and I've added some of them. In my particul

[2016-12-29 10:45] mfidemraizer commented on #26
Done!

[2016-12-29 10:45] mfidemraizer commented on #26
I'll publish updated docs to reflect this new feature.

[2016-12-30 12:10] mfidemraizer opened #27 "Since JSON.NET was integrated to clone objects, associated dictionary keys are messed up!"
Some versions ago I integrated JSON.NET to clone objects. Actually, it's being used when `ObjectChangeExtensions.ToUntrackable` method is called.

JSON.NET screws up any object dictionary key because it applies the camel-case convention even for dictionary keys...

So keys should be untouched when cloning an object, shouldn't be?

[2016-12-30 12:45] mfidemraizer commented on #27
Done!

[2016-12-30 12:45] #27 closed, assigned to nobody

[2017-01-07 19:00] HamedFathi commented on #25
@mfidemraizer

please provide .net core version as soon as possible :)

[2017-01-08 08:35] mfidemraizer commented on #25
@HamedFathi

Hey, thank you for your support! ;)

My concern is TrackerDog is built on top of Castle DynamicProxy, which still doesn't own a production-ready release on .NET Core.

AFAIK, their last release was [Castle Core 4.0.0-Beta002](https://github.com/castleproject/Core/blob/master/CHANGELOG.md) and it happened on 28 of October of 2016 and the most recent commit was on 15 of Novembre of 2016

[2017-01-22 11:16] mfidemraizer commented on #25
Update: I've been trying to start the migration to .NET Core, but I found a big issue.

Since .NET Core is abandoning `project.json` in favor of getting back to `csproj` (MSBuild) format, there's still bad support for the whole format on Visual Studio Code. I could try to start the migration on Visual Studio 2017 RC, but it's a long installation and usually I try to work with RTM Visual Studio ver

[2017-01-27 11:36] mfidemraizer commented on #25
Good news! Caslte Core 4.0.0 is out https://github.com/castleproject/Core/releases/tag/v4.0.0

And it comes with .NET Core support. This is the definitive step to work out TrackerDog to be compatible with .NET Core too!

[2017-02-02 13:03] mfidemraizer commented on #20
Since this question was made on november 2016 and I've seen any activity here, I close this issue for now. If you feel that you want to continue the discussion, feel free to re-open it!

[2017-02-02 13:03] #20 closed, assigned to mfidemraizer

[2017-02-08 18:28] Blastnsmash opened #28 ".netstandard version?"
Reminder to investigate .netstandard compatibility.

My primary interest is to keep libraries we use compatible with xamarin for ios and android development.

https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/

[2017-02-08 18:30] mfidemraizer commented on #28
@Blastnsmash Hey!

Thank you for the effort of posting the issue ;)

Ok, I'll take a look at this as soon as I've a ported everything to .NET Core (I believe that this will be closer to .NET Standard than a full framework version like we've right now...).

The support is very tied to Castle Core support to .NET Standard.

[2017-02-09 11:15] mfidemraizer commented on #28
@Blastnsmash

I'm glad to say that I've been able to run the tests on .NET Core 1.1 using a .NET Standard library of TrackerDog.

If I'm not mistaken, you need a .NET Standard 1.6-based TrackerDog, right? I've checked [.NET Standard's matrix here](https://github.com/dotnet/standard/blob/master/docs/versions.md) and both Xamarin flavors are already supported on .NET Standard 1.6.

Thank you and I'l

[2017-02-10 01:04] Blastnsmash commented on #28
Very cool.
Currently, our team is looking into n-tier development with Entity Framework. I'll let you know if we use TrackerDog in the future.
Keep up the good work :)

[2017-02-10 08:22] mfidemraizer commented on #28
@Blastnsmash  Nice! Thank you.

In fact, my motivation to implement TrackerDog was based on being able to mimic what a full-fledged OR/M does in terms of change tracking like NHib or EF do but with MongoDB as storage. Since I didn't want to spread Mongo specific API to persist and query data, and at the end of the day I also wanted to architect a true separation of concerns, I felt that change tra

[2017-02-10 17:52] Blastnsmash commented on #28
What do you think of  http://trackableentities.github.io/ approach?

It uses T4 templates to generate the client and server code and extends entity framework with a merge option.

[2017-02-10 18:27] mfidemraizer commented on #28
@Blastnsmash  It's interesting, I've never heard about this project. It's an absolutely different approach compared to what TrackerDog does.

Clearly it's a solution that's built for Entity Framework, but I guess that it should be usable as a standalone solution to track object graph's changes like TrackerDog does.

My opinion is that I would avoid code generation. I don't like it because you need

[2017-02-12 05:09] mfidemraizer commented on #28
@Blastnsmash  .NET Standard library is already published on NuGet! Finally, if your team ends up using TrackerDog, I'll be happy to fix any bug you may find while using it.

[2017-02-12 05:11] mfidemraizer commented on #25
@HamedFathi I've already published TrackerDog 2.2.0 which is a .NET Standard 1.3 library and it can be used in .NET Core 1.0 and newer versions!

If you find any problem or bug, feel free to fill an issue and I'll try to fix it as soon as possible!

[2017-02-12 05:34] HamedFathi commented on #25
@mfidemraizer  THANKS :)

[2017-02-12 05:40] #28 closed, assigned to mfidemraizer

[2017-02-12 05:43] mfidemraizer commented on #25
@HamedFathi Thanks to you and the other guy from #28, because I wanted to do the effort to port the library to .NET Standard, but you both have been an incentive to move forward!

For now, I'm going to close this issue :)

[2017-02-12 05:43] #25 closed, assigned to mfidemraizer

[2017-03-14 17:48] ImAMightyPirate opened #29 "Contradictory validation in TrackableCollectionConfiguration.ReplaceImplementation"
It looks like the checks for IsGenericTypeDefinition and IsAssignableFrom contradict each other. The former ensures that an open generic type is provided for the interface, while the latter will only work with closed generic types.

Trying to replace an existing collection (that should be allowed) implementation demonstrates this:-

[code]

[2017-03-15 11:01] mfidemraizer commented on #29
@ImAMightyPirate Hey! First of all thank you for looking at TrackerDog's code. As we're not machines, we make mistakes and it seems like you're right.

BTW, I'll fix this during this weekend.

Anyway, did you find this bug because you were going to replace a collection change interceptor? Or it was reviewing the code? I'm just curious ;)

[2017-03-15 13:14] ImAMightyPirate commented on #29
I was trying to replace an interceptor with one of our own (to support ObservableCollection<T>). I had tried a number of permutations of calling ReplaceImplementation to do this without success.

I ended up in the source code to see how things worked for your default interceptors (I thought I might have been doing something wrong), which led me down the path of trying to replace an existing interc

[2017-03-15 14:01] mfidemraizer commented on #29
@ImAMightyPirate  I see I see!

I'm glad that a project made by an unknown like me could be useful for you and others! This is the magic of open source!

If you find issues don't hetistate to ask for more assistance. The greater is the challenge, the more we'll learn!

Be sure I'll be on this in the next couple of days (next weekend). In the other hand, if you find more problems, create new issues

[2017-03-15 14:06] mfidemraizer commented on #29
@ImAMightyPirate I forgot to say that I created TrackerDog with DDD in mind, as my main goal with this project has been always being able to implement completely agnostic domain transactions and, unless you're backed by an OR/M, real-world project timings aren't enough to implement a good domain unit of work!

**EDIT** Anyway, current NuGet package version is already .NET Standard and .NET Full Fr

[2017-03-20 08:41] f135ta commented on #29
Hi,
I'm waiting on this fix pretty urgently too, any ideas when you will have time to implement it?

[2017-03-20 10:50] mfidemraizer commented on #29
Sorry for the inconvenience, @ImAMightyPirate  and @f135ta

It's a long story but I've had to make a code test for some company and I took more than I ever expected, hence I couldn't invest time on solving the whole problem.

As it seems to be a simple fix, I expect to fix it today.

I apologize for the inconveniences since I'm very glad you both are relying on TrackerDog!

[2017-03-20 11:06] f135ta commented on #29
Brilliant news! Thank you! 👍

[2017-03-20 11:13] mfidemraizer commented on #29
@f135ta  It would be nice to know what's your goal when using TrackerDog! It might be awesome that I could add a wiki page with summaries about use cases :)

[2017-03-20 14:28] mfidemraizer commented on #29
@f135ta @ImAMightyPirate

I've already committed the solution. BTW, before releasing the NuGet package, I've built a DLL for you so you can check if there're no further issues.

[TrackerDog.zip](https://github.com/mfidemraizer/trackerdog/files/855234/TrackerDog.zip)

Since TrackerDog is still used by few people, I've decided to completely drop `AddImplementation`/`ReplaceImplementation` and I've i

[2017-03-27 16:03] mfidemraizer commented on #29
@f135ta @ImAMightyPirate

Well, I'll await 2-3 days more for your responses. Otherwise, I'll publish a new TrackerDog version and if you're using it and you both find more issues related or unrelated to current one, we'll treat them separately.

[2017-03-27 17:09] ImAMightyPirate commented on #29
Apologies for the delay in responding (I have been on holiday for the last week). Your fix resolved the error I was seeing. Thank you for making this change.

I am having some difficulty with working collections still, but will raise that as a new topic when I have the opportunity to do so and I have some code samples to provide as I do not believe it is related to this.

[2017-03-27 19:44] mfidemraizer commented on #29
@ImAMightyPirate No problem! ;)

Feel free to post them, don't scratch your head! If you're experiencing issues, even if those aren't *errors* within TrackerDog and are related to the library usage, I'll be glad to assist you on them too.

I couldn't cover all use cases in TrackerDog, yet they can be easily implemented.

Therefore, I'll look forward for your other issues!

[2017-04-02 14:02] mfidemraizer commented on #29
I'm going to close this issue. I've already released a new NuGet package versioned as 2.2.1 which already includes the bugfix to this issue!

Thank you again for your feedback and I'll be glad to assist you with those other issues that you've already found and you still need to add write down them!

[2017-04-02 14:02] #29 closed, assigned to mfidemraizer

[2017-04-02 14:03] mfidemraizer commented on #26
Documentation is already done!

[2017-04-02 14:03] #26 closed, assigned to mfidemraizer

[2017-05-11 00:12] weitzhandler opened #31 "Incorporate existing interfaces in System.ComponentModel"
Hi and thanks for this wonderful lib and for sharing your effort!

It would be nice to have some of the interfaces in the [`System.ComponentModel`](https://msdn.microsoft.com/en-us/library/system.componentmodel) namespace such as `IRevertibleChangeTracking` (that implements `IChangeTracking`) and some others.

[2017-05-11 02:16] weitzhandler opened #32 "Xamarin"
Unable to install into my Xamarin PCL (profile 44) project.

[2017-05-11 02:34] weitzhandler commented on #28
@mfidemraizer I'm reading up this thread and every comment you make is something I came across today and thought about, especially in relation to trackerdog.

I actually AM using PropertyChanged.Fody and shared POCO entity classes.
Having TrackerDog work as a post compilation emit would be awesome.

Though what I see more important (as I mention [here](https://github.com/mfidemraizer/trackerdog/pu

[2017-05-11 02:34] mfidemraizer commented on #32
This is because TrackerDog isn't a PCL: it's a .NET Standard library, which is in turn the replacement to PCL. Probably, not just because you want to use TrackerDog, it should be time to migrate your PCLs to the new .NET Standard library paradigm.

[2017-05-11 02:37] mfidemraizer commented on #31
Thank you for your good comments about the lib!

I'll take a look at this in the next days

[2017-05-11 02:43] mfidemraizer commented on #28
@weitzhandler Right, IL weaving should be awesome... BTW while I would love to give that approach a try, my main issue now is I don't have enough time to overcome this migration...

About the Entity Framework thing, it would be wonderful, but again I don't have enough time for this. At least, for now.

Finally, about the changed data graph and transferring it over the wire, will you open another i

[2017-05-11 02:56] weitzhandler commented on #32
Until Xamarin adopts .NET standard is gonna take a year...
I thought it's been targeted for Xamarin too, seeing the nice Xamarin icon in the README haha. Do you plan anything on the subject soon?

[2017-05-11 03:00] mfidemraizer commented on #32
Check this chart: https://docs.microsoft.com/en-us/dotnet/articles/standard/library

Maybe I'm mistaken, but .NET Standard-compliant libs should work on Xamarin.

[2017-05-11 03:13] weitzhandler opened #33 "DTO of graph change data"
Please create a contract that will enable transmitting object-change data of a graph in a hierarchical, yet enumerable manner.

Any DTO would be sufficient, but to take it a step further it can be made complex. Here are some examples:

- Create 2 contract types
  - Contract of change data from client to server
  - Contract of changes that were applied (such as IDs etc.) or ignored (invalid or orph

[2017-05-11 03:38] weitzhandler commented on #32
The newest Xamarin is targeting Profile44, which is [netstandard 1.2](pcl-compatibility).

[2017-05-11 03:48] weitzhandler commented on #32
The newest (it will never remain newest...) Xamarin is targeting [Profile44](https://docs.microsoft.com/en-us/dotnet/articles/standard/library#pcl-compatibility), which is [netstandard 1.2](http://danrigby.com/2014/05/14/supported-pcl-profiles-xamarin-for-visual-studio-2), as well as the wider but older Profile121. Profile44 only targets UWP, Droid and iOS, neglecting Silverlight and some other dy

[2017-05-12 09:13] mfidemraizer commented on #32
Hey, it's impossible to downgrade TrackerDog to .NET Standard 1.2 because Castle Core requires at least .NET Standard 1.3.

About Silverlight, I wouldn't put effort on this... You know, it's a completely dead technology. Would you drop .NET Core support to support Silverlight?

[2017-05-12 09:16] mfidemraizer commented on #32
BTW, can you elaborate on why [this compatibility table](https://docs.microsoft.com/en-us/dotnet/articles/standard/library) says the opposite? It seems like you should be able to switch your PCL to .NET Standard libs.

[2017-05-12 09:23] mfidemraizer commented on #33
Lets deeply discuss about this topic.

First of all, would you agree that we should implement [Set-Unset](http://designpattern.ninja/catalog/design-patterns/setunset) and [Create-Update-Delete collection pattern](http://designpattern.ninja/catalog/design-patterns/create-update-delete-collection) patterns to taylor the whole DTO?

The other problem is that the whole DTO should be provided by the de

[2017-05-12 09:26] mfidemraizer commented on #31
Some question: *which are those other interfaces*?

[2017-05-12 09:43] mfidemraizer commented on #31
@weitzhandler I've already implemented `IRevertibleChangeTracking`. If you check the code on the commit you'll see how easy was the task ;D

In the other hand, I've created a temp branch to advance on implement the other (yet unknown by me) interfaces you mention in your first comment.

[2017-05-14 06:48] weitzhandler commented on #31
Thank you!

On Fri, May 12, 2017 at 12:43 PM, Matías Fidemraizer <
notifications@github.com> wrote:

[2017-05-14 20:54] weitzhandler commented on #32
You're right. I am currently using [Prism](/PrismLibrary/Prism), and that doesn't have .NET standard support. [What a shame](/PrismLibrary/Prism/issues/683)!

[2017-05-14 20:54] #32 closed, assigned to mfidemraizer

[2017-05-15 00:29] weitzhandler commented on #33
I believe at least at first, the dev should provide the full Entities and their DTOs and mapping, and the client should provide the server only with what's needed to be saved/changed/added and omit the rest of the properties of the JSON. JSON library will know how to deal with the non-existent fields and construct them to their defaults.
What TrackerDog should provide IMHO is an external wrapper c

[2017-05-15 20:57] mfidemraizer commented on #31
@weitzhandler BTW, which are those other interfaces you pointed in your first comment?

[2017-05-15 22:08] weitzhandler commented on #31
You mean [this](https://msdn.microsoft.com/en-us/library/system.componentmodel.irevertiblechangetracking)?

[2017-05-15 22:17] weitzhandler commented on #31
I'm just shooting out, you pick what you see fit:
- [`ICancelAddNew`](https://msdn.microsoft.com/en-us/library/system.componentmodel.icanceladdnew)
- [`IEditableObject`](https://msdn.microsoft.com/en-us/library/system.componentmodel.ieditableobject)
- [`INotifyPropertyChanging`](https://msdn.microsoft.com/en-us/library/system.componentmodel.inotifypropertychanging)[<sup>*</sup>](https://github.com

[2017-05-15 22:17] #31 closed, assigned to mfidemraizer

[2017-05-16 19:34] johnamcruz opened #34 "Creating objects"
Is there a way to create trackable objects without using the object factory? I am building an SDK and will be using trackerdog internally. My problem is that if the users of my SDK creates the object without using the object factory then it will not work. Any idea?

[2017-05-16 20:49] mfidemraizer commented on #34
Hey, thank you in advance for using TrackerDog.

Let me try to understand your concern.

What do you mean? That *object factory* is your own one on your SDK? You mean that someone can reference TrackerDog, create trackable objects and then try to plug them into your SDK flow, right?

Is this your concern? Let me know if I'm in the right track...

[2017-05-16 21:02] mfidemraizer commented on #34
I've double-checked your concern and maybe you don't know how to check that a given object is a *trackable object*.

Your SDK should encapsulate and abstract TrackerDog's `TrackableObjectFactory`, and wherever you need a *trackable object* you should check if a given object implements `IChangeTrackableObject` interface.

Let's put an example:

[code]

Is this the problem you want to solve?

[2017-05-16 21:10] mfidemraizer commented on #33
@weitzhandler Hey, in fact, [ObjectPropertyChangeTracking](https://github.com/mfidemraizer/trackerdog/blob/v2/TrackerDog/ObjectPropertyChangeTracking.cs) is the starting point to build that tree.

Probably that tree could be expressed as a `IDictionary<TKey, TValue>` where *values* would be instances of a new DTO called like `ChangeTrackedObjectInfo` or something like that which would provide the

[2017-05-16 21:16] johnamcruz commented on #34
My concern is the call below

`App app = trackableObjectFactory.CreateOf<App>();`
`app.Users.Add(new User { Name = "Matías", Age = 30 });`

it would be awesome if I can somehow instatiate a trackable object using
`var app = new App();`

[2017-05-16 21:18] weitzhandler commented on #33
Right. The key has to be more complex tho, and then there is the result DTO, i.e. what was updated/rejected by server.
Each entity in graph needs to get a unique ID besides its usual one, since it can be a new entity, and we need to identify on server result.

[2017-05-16 21:25] mfidemraizer commented on #33
One question, do you need this right now? ;D I ask you this to prioritize this feature or not.

[2017-05-16 21:29] mfidemraizer commented on #34
This is impossible unless I would implement some C# extension through Roslyn, and it wouldn't be the official C# implementation anymore...

BTW, what's the issue behind the scenes? Check my previous comment and let me know if this is the core problem.

[2017-05-16 21:34] johnamcruz commented on #34
No issues. I love tracker dog. I ended up just wrapping the trackableqbject factory as a method AsTrackable() that returns the object

`var trackableApp = app.AsTrackable();`

[2017-05-16 21:46] mfidemraizer commented on #34
Well, believe or not, TrackerDog 1.x had an extension method called exactly like yours, but I had to refactor the lib to be *dependency injection-friendly*.

I suggest that you should go the DI way instead of your current approach, because you won't be able to mock TrackerDog for testing purposes.

Maybe you could define your own trackable object factory interface and inject its implementation whe

[2017-05-16 22:55] johnamcruz commented on #34
That works great. I like using DI.

[2017-05-16 22:55] #34 closed, assigned to mfidemraizer

[2017-05-16 23:45] weitzhandler commented on #33
Not really. In fact I can't use TrackerDog at all in the project we're currently working on, because It's tied down to be PCL. But in a previous issue you told me to open a new one so I did just for the discussion and the reference for the future.

[2017-05-17 03:21] johnamcruz opened #35 "metadata question"
How do i compare the metadata from GetTrackableTypes() with the changeTracker.ChangedProperties? I am trying to get the full path of a property starting from A (i.e. A.B.C.Description).

[code]

[2017-05-17 09:12] mfidemraizer commented on #35
I'll answer you this tonight!

[2017-05-17 22:21] mfidemraizer commented on #35
Sorry, I couldn't give a check to your issue today. I'll try again tomorrow!

[2017-05-18 21:42] mfidemraizer commented on #35
@johnamcruz Hey, I've checked your concern/issue.

If I'm not mistaken, you want to get the full path of a given property of  `TModel`.

`IObjectPropertyInfo` implementations (those that gives `ITrackableType.ObjectPaths` property) own a property called `Property`. It's the `PropertyInfo` of a trackable property within the object graph starting in your case from `TModel`.

First of all, you should

[2017-05-18 22:00] johnamcruz commented on #35
yup that helps a lot. Thank you @mfidemraizer

[2017-05-18 22:00] #35 closed, assigned to mfidemraizer

[2017-05-18 22:06] mfidemraizer commented on #35
@johnamcruz Nice!

I need to stay honest: I had to run the tests and remember how it worked ;D Feel free to open new issues if you've any other question or problem.

[2017-05-18 22:57] johnamcruz commented on #35
Hey @mfidemraizer

I dont think `IObjectPropertyChangeTracking` exposes the property field so i cant do

`var property = metadata.ObjectPaths.SingleOrDefault(t => t.Property == changedProperty.Property);`

[2017-05-19 08:25] mfidemraizer commented on #35
@johnamcruz Oops! Sorry. You need to cast to `IDeclaredObjectPropertyChangeTracking` which will provide access to the `PropertyInfo` instance.

Since TrackerDog supports dynamic objects which won't declare their properties (see `DynamicObject` on MSDN), the most basic interface is `IObjectPropertyChangeTracking`, and regular objects instantiated from classes generate `IDeclaredObjectPropertyChange

[2017-05-19 10:05] mfidemraizer commented on #33
I see. Well, let's stay this issue as *open* and if someone requires this, I'll put the effort to implement the whole requirement!

[2017-05-23 20:38] weitzhandler commented on #33
Actually, I think, a simple interface exposing elementary data about all changes would be sufficient, here's a rough prototyping shot, I believe that most of the features are already there, it's just needs a bit of reorganization and exposing in the right way. It can be way cleaner and less features or in a nicer way. I'm sure you get the general idea.

It's important to have the proxy class imple

[2017-05-24 21:24] mfidemraizer commented on #33
Thank you for giving ideas. I'll pay attention to your proposal! 👍

[2017-08-14 10:17] mfidemraizer opened #36 "Attribute configuration: not ignoring non-trackable properties"
When I try to configure a trackable type which inherits a base class, properties from the whole base class aren't ignored.

[2017-10-06 09:26] #36 closed, assigned to mfidemraizer

[2017-12-27 23:51] toumir opened #38 "Same value, object should be in unchanged state!!"
Hi,
...
`IObjectChangeTracker changeTracker = user.GetChangeTracker();`
...
initially user age is 0 // default value
//change it here
`user.Age = 41;`
//change it again back to the old value 0
`user.Age = 0;`
When I check for property changes:
`changeTracker.ChangedProperties.Any() //<=should return false since it equals to the old value! `

idem form the complex and collections properties!
can gu

[2017-12-28 10:32] mfidemraizer commented on #38
Oops! This is unexpected. I'll try to reproduce the issue and I'll be back to you.

[2017-12-28 11:53] toumir commented on #38
I think I'm a wrong the test pass
`[TestMethod]
        public void SameValueObjectStayInUnchangedState()
        {
            const string initialValue = "hello world";
            A a = TrackableObjectFactory.CreateFrom(new A { Text = initialValue });
            IObjectChangeTracker changeTracker = a.GetChangeTracker();

            Assert.AreEqual(0, changeTracker.ChangedProperties.Count);

[2017-12-28 12:08] toumir commented on #38
Hi,
When testing the behavior, the test pass (I added a test method to your tests project)

[code]
**but in production we get different result**
I'm using Linqpad for simplicity:

[code]
**correct me if I'm wrong**
thanks for your time

[2017-12-28 13:20] toumir commented on #38
FYI: it seems its works with string values but not for int values, very strange!!!
changing The test above :
with string properties =>test passes,
with int properties=> test fails
thanks for your time

[2017-12-28 13:41] toumir commented on #38
tested for complex properties, test fails : here is the full example
[code]

[2017-12-28 17:24] mfidemraizer commented on #38
Thank you for the details

I'll take a look tomorrow :+1:

[2017-12-31 06:44] toumir commented on #38
still waiting a response
Is there anyone to answer my question?!

[2017-12-31 10:50] mfidemraizer commented on #38
@toumir Sorry, I've a hard work these days to have room to be at my PC.

BTW, now I'm going to spend some time to check your issue. I hope it'll be easy to fix!

[2017-12-31 11:20] mfidemraizer commented on #38
@toumir I hope I'll be able to run the code today. It has been some months since I opened the virtual machine on which I can run a full framework and dotnet core side by side project (which is the case of TrackerDog).

Now that I've been able to run the whole VM, Windows 10 is updating, argh! :-1:

[2017-12-31 11:31] toumir commented on #38
Thanks for your time 👍

[2017-12-31 11:52] mfidemraizer commented on #38
@toumir No problem ;)

I could reproduce the issue with your code in my dev machine.

My first impression is that it should be a bug, because when I get the property tracking, its old value is valid and both old and new values equal (i.e. `o.GetPropertyTracking(x => x.Age)`).

So I'm going to check what's wrong with `ChangedProperties` calculated property.

[2017-12-31 12:05] mfidemraizer commented on #38
@toumir Solved! At least, the thing with integers.

The problem was [here](https://github.com/mfidemraizer/trackerdog/blob/dc3c6f34f2b32359b44b334a5510a4f97e679dc7/TrackerDog/DeclaredObjectPropertyChangeTracking.cs#L94)

Changing that line to `return (bool)!CurrentValue?.Equals(OldValue);` has solved the issue.

This code was using `==`. Operator overloading isn't inherited. That is, a boxed integ

[2017-12-31 12:10] mfidemraizer commented on #38
@toumir About complex types, you'll need to implement `IEquatable<T>` on that types. Otherwise, the equality will be based on references instead of property values.

[2017-12-31 12:47] mfidemraizer commented on #38
Anyway, here you can download both NetStandard and FullFramework's assemblies:

[TrackerDog.NetStandard.zip](https://github.com/mfidemraizer/trackerdog/files/1595171/TrackerDog.NetStandard.zip)

[TrackerDog.FullFramework.zip](https://github.com/mfidemraizer/trackerdog/files/1595172/TrackerDog.FullFramework.zip)

Let me know if this solved your issue!

[2017-12-31 13:07] toumir commented on #38
Hi @mfidemraizer,
I made the change you proposed but, when run the tests(yours), get 13 tests fails, what do you think
Thanks in advance

[2017-12-31 13:21] toumir commented on #38
can you provide me more information where to put the changes, may be I put it in the wrong place file

[2017-12-31 13:32] mfidemraizer commented on #38
@toumir hey

Sorry, I should've edit that previous comment. I also ran the tests and finally the whole issue gets fixed as follows:

[code]

Please try it again and let me know if you solved the issue 🗡

And, what about `IEquatable<T>`? Have you already implemented it in your classes?

[2017-12-31 13:37] toumir commented on #38
My test method, :( still not working!
[code]

[2017-12-31 13:42] mfidemraizer commented on #38
@toumir Where have you placed the new assembly (i.e. `trackerdog.dll`)? You should overwrite the one found in `/packages` and rebuild your solution/project.

[2017-12-31 13:43] toumir commented on #38
apropos  IEquatable<T>, I did this on another project, try todo it here

[2017-12-31 13:43] mfidemraizer commented on #38
@toumir Are you in Gitter?

[2017-12-31 13:46] toumir commented on #38
sorry I'm not an English man, I take time to understand you :) what do you mean by Gitter

[2017-12-31 13:49] mfidemraizer commented on #38
@toumir I'm not native English speaker too, I'm Spanish!

Uhm, it's an app/webapp on which many developers talks, usually from GitHub: https://gitter.im

You can sign up there using your GitHub account. Why don't we continue the chat there? Once we solve the issue, we put here our conclusions. Search me in Gitter by my GitHub user: **mfidemraizer**

[2017-12-31 13:52] toumir commented on #38
got it i'm in gitter

[2017-12-31 16:53] #38 closed, assigned to nobody

[2018-02-13 21:54] markgould opened #39 "Object cannot be converted"
Not sure if I'm doing something wrong here but I get an error when tracking an object that has a List<string> is this not supported?

Here is a simple repro: https://gist.github.com/markgould/cbce26c699a003bc4a4fdb16e4d2c0f9

[2018-02-13 22:07] markgould commented on #39
It looks like I just had to change it to IList. It wasn't immediately clear from the documentation, but now it seems to work!

[2018-02-14 10:12] mfidemraizer commented on #39
@markgould Hey! Thank you for using TrackerDog.

Right, you're forced to use interfaces. Anyway, you may use `IList<T>` instead of `IList`.

BTW, it seems like I've been not absolutely clear about that fact, while you'll find this statement [here](http://matiasfidemraizer.com/trackerdog/html/1e03762d-b9f5-44af-a4b0-c23c36064c24.htm):

Probably I should update the docs both in how collection change

[2018-02-14 13:45] markgould commented on #39
Yes, it's working great now, thanks!

[2018-02-14 14:23] mfidemraizer commented on #39
@markgould Nice! I close the issue. If you find any other issue or doubt, feel free to open a new one :)

[2018-02-14 14:23] #39 closed, assigned to nobody

[2018-02-15 20:27] markgould opened #40 "Fire Changed event if the object changes back to unchanged"
Is there a reason the Changed event doesn't fire if an object was changed (it fires) and is then changed back?

We have a visual indicator on the screen that shows the user if there are changes, so on the Changed event I have some code that looks like "HasChanges = Tracker.ChangedProperties.Any();" which works when a property changes, but when it changes back (testing with a simple checkbox) it do

[2018-02-15 20:30] markgould commented on #40
I may have posted this too soon - I guess simply using the PropertyChanged event will suffice. I did not realize it would fire on a parent object for even nested collection items. Awesome!

[2018-02-15 20:30] #40 closed, assigned to nobody

[2018-02-16 10:14] mfidemraizer commented on #40
@markgould Nice to know you solved the doubt yourself! ;-)

[2018-05-17 16:59] rtroberts opened #41 "Flattening changes to nested objects"
Say I have a tracked class with a few untracked properties, a few tracked properties, and a few tracked collections of objects - which are themselves trackable:

[code]

Multiple tracked fields, additions or subtractions to tracked collections, or changes to objects within tracked collections can occur at one time. I'm trying to flatten all these changes to the simplest representation possible, an

[2018-05-20 08:11] mfidemraizer commented on #41
Hey! May you give your desired output?

I believe I understand the issue but, anyways, give me that detail.

Thank you in advance!

[2018-05-21 15:01] rtroberts commented on #41
Hey! Thanks for the quick reply.

If an object in a collection was added or removed, I probably need to do a custom serialization of that object - which shouldn't be too bad. I would probably just override the ToString method on `MemberAttribute` and `Comment` above, and I can get there with the `if (changedProperty.CurrentValue is IReadOnlyChangeTrackableCollection)` line I demonstrated above.

I

[2018-05-21 22:03] mfidemraizer commented on #41
I'll try to reproduce your case to answer your question. Anyway, if I'm not mistaken, TrackerDog should be able to give you property changes from any association, even from tracked collections, but I want to confirm this myself.

[2018-05-21 22:05] rtroberts commented on #41
Thank you very much! If I can assist further in any way, or answer further questions, please let me know. I appreciate the help.

[2018-05-22 08:25] mfidemraizer commented on #41
@rtroberts No problem!

So I've coded this sample:

[code]
And you want that both `changeTrackerA` and `changeTrackerB` changed properties could be exposed in a flat change set. Is this the problem?

Believe or not, but I thought that it was behaving that way but I was absolutely mistaken about that.

Please confirm if this is the problem so I can work on implementing the change. It shouldn't hard

[2018-05-22 14:57] rtroberts commented on #41
That's exactly correct, yes. I expected `changeTrackerA` to include the change to the `B.Text` property, as well as the addition of a `new B`.

[2018-05-22 15:13] mfidemraizer commented on #41
@rtroberts Ok! I'll take a look. I expect to give you a new TrackerDog version with this feature very soon (few days, give me 2-3 days)!

Thank you for identifying this problem ;)

[2018-05-25 08:11] mfidemraizer commented on #41
Hey, I'll try to address it this weekend. I couldn't find a room to implement the fix during this week. Sorry.

[2018-05-26 13:41] mfidemraizer commented on #41
@rtroberts I've located the line on which I can fix the problem: [CollectionPropertyInterceptor (line 37)](https://github.com/mfidemraizer/trackerdog/blob/147f760107fb6851a8e3079fd52a3df0fe9ae844/TrackerDog/Interceptors/CollectionPropertyInterceptor.cs#L37)

When an item is being added to a given collection the whole item isn't turned into a change trackable object using collection parent object's

[2018-05-26 15:32] rtroberts commented on #41
How interesting! Thanks so much for finding this so quickly! You're a rockstar.

[2018-05-28 09:20] mfidemraizer commented on #41
@rtroberts No problem! And not a rockstar: I'm the author :D I can easily identify issues. Anyway, thank you again.

I need to solve another issue: I'm on Linux since some months and, anyway, even when I was on Windows full time, I was developing in a Win10 VM. When I wanted to run that VM I found that it's broken (Win10 is in the "automatic repair loop"). I'll try to fix this problem today so tom

[2018-05-30 09:41] mfidemraizer commented on #41
@rtroberts No way: I can't fix the VM.

I believe that since full .NET Framework can use .NET Standard libraries, maybe it's time to distribute TrackerDog as just a .NET Standard library.

That is, I could continue improving it using VSCode either in Windows or Linux.

It shouldn't be an issue since the project has a .NET Standard build already.

Sorry for the delay, is this urgent?

[2018-06-03 09:16] mfidemraizer commented on #41
@rtroberts I've already migrated the entire project to just build a .NET Standard library and now it's a VSCode workspace.

Definitively, I expect this week to provide the fix to your issue.

[2018-06-07 17:22] rtroberts commented on #41
Nice! Yeah, I'm personally on .NET Core, so moving to .NET Standard makes sense to me.

I appreciate your help on this! Thank you.

[2018-06-07 20:32] mfidemraizer commented on #41
@rtroberts Ok! I'm still on this issue, I'm having troubles to find room to invest in it, but I hope I'll be able to give you the fix this week...!

[2018-06-08 09:25] mfidemraizer commented on #41
@rtroberts For now, I've been able to implement the change for this case:

[code]

`C` shares the same change tracker than `A` and `B`.

I need to fix the thing in yet another case: when a collection already contains items and they're converted into change-trackable objects. In that case, I've found that change tracker isn't being shared.

Let's see if this weekend I can share with you an assembly

[2018-06-12 13:25] mfidemraizer commented on #41
@rtroberts Argh. I believe that right now should work but I've encountered a side-effect when implementing the solution.

Say you've a class `A` and it appears associated to many classes tracked by the same change tracker.

Currently, `ObjectChangeTracker` stores property change trackings in a dictionary where keys are `PropertyInfo` and values the change tracking itself (current value, old value,

[2018-06-25 20:07] rtroberts commented on #41
Sorry I've been out of touch! It's been crazy busy these past couple weeks.

What can I do to help?

[2018-06-26 07:25] mfidemraizer commented on #41
@rtroberts Hey, are you in Gitter? So we can discuss some points in real time.

[2018-06-29 02:43] rtroberts commented on #41
I am not, but I could sign up if it would help!

[2018-06-29 08:32] mfidemraizer commented on #41
@rtroberts Yes, please! :)

[2018-08-20 07:53] mr-at0s opened #42 "Class that inherits from IEnumerable"
I would like to track changes of a class that inherits from IEnumerable. I made a minimal example (Keep in mind, the actual class is completely different). But essentially I get an ```System.InvalidOperationException```.

Example code:
[code]

Exception:
[code]

[2018-08-20 11:34] mfidemraizer commented on #42
@mr-at0s hey! Thank you for using TrackerDog.

I believe that there should be no easy way to track changes from an enumerable which isn't a colleciton (i.e. `ICollection<T>`), because an enumerable can't be altered (it's just a *sequence*).

Why don't you implement `IList<A>` and you call `TheActualList` methods from them? So your class may be treated like a collection and enumerable, and you'll b

[2018-08-20 11:43] mr-at0s commented on #42
Thanks for your reply. That makes sense! That works.

[2018-08-20 11:43] #42 closed, assigned to mfidemraizer

[2018-08-20 11:47] mfidemraizer commented on #42
@mr-at0s You're welcome! ;)

If you find any other problem, feel free to fill as many issues you need and I'll try to give you solutions!

[2018-08-21 14:00] mr-at0s opened #43 "How to handle circular references"
Some objects may have circular references. How should we handle this? Maybe, throwing an exception if someone is registering such an object? Or any idea on this?

[2018-08-21 16:06] PatrikTrestik opened #44 "Exception in PropertyHasChanged()"
I'm getting

target.GetChangeTracker().ChangedProperties shows correctly changed property info.

I'm posting here to check if I'm doing something wrong.
Example and Source debugging will follow.

[2018-08-22 08:35] mfidemraizer commented on #44
Yes, please provide an example to further investigate the issue! :+1:

[2018-08-22 08:42] mfidemraizer commented on #43
Hey!

I'm not sure what could be the best solution here. Ignoring them, throwing that exception...

Anyway, is this throwing exceptions? Probably I'm mistaken, but TrackerDog independently handles each property change.

[2018-08-22 08:44] #33 closed, assigned to mfidemraizer

[2018-08-22 09:03] mr-at0s commented on #43
Currently, it does not throw an exception. It just runs into that cycle and never returns (until program is out of memory).

Potential solution: The user could provide an error callback that is called when a circular references is detected. But in each case a continuous check for circular references could be time consuming, wouldn't it?

Maybe, it is just a bad design in client's code (my) to allo

[2018-08-22 09:10] mfidemraizer commented on #43
@mr-at0s It shouldn't be a bad design per se, because usually when you implement an `1-n` association, you may want a reference of both side in both sides:

[code]

Maybe a possible solution could be ignoring them with some attribute:

[code]

Actually

What do you think about this?

[2018-08-22 09:15] mfidemraizer commented on #43
Also, maybe the whole TrackerDog's configuration API could provide something like *track this but* (some given properties).

[2018-08-22 10:49] mr-at0s commented on #43
Yes, `Ignore` might be a solution for such scenarios.

[2018-08-22 11:03] mr-at0s opened #45 "Performance"
I added TrackerDog to our project to track entity objects and I discovered that `CreateFrom` consumes about 2-3 seconds on a solid developer machine (release build).

I created a small example and made some measurements. I still see similar results. Is it known than TrackerDog consumes quite a bit CPU time? Why is this? Or am I using it wrong?

Example Code:
[code]

Results:
![image](https://user-

[2018-08-22 14:04] PatrikTrestik commented on #44
Hi. I had to change for a different solution because of the very high performance impact of TrackingDog. It slowed down reading of 800 records 10 times.

I'll try to investigate the above error further but I have to do it in my spare time as my work project no more utilizes TrackingDog. It can take some time, sorry.

[2018-08-22 14:28] mfidemraizer commented on #44
@PatrikTrestik  Does your workplace's project use an OR/M already? Anyway, creating proxies has some perfomance impact.

I doubt, anyway, that TrackerDog could slowdown 10 times the perf: it should be something with how things were configured.

[2018-08-22 14:29] mfidemraizer commented on #44
@PatrikTrestik Also, the way you use TrackerDog may impact the perfomance too. I should know the use case...

[2018-08-22 14:40] mfidemraizer commented on #45
May you pack this into a ZIP so I can check it on my machine?

BTW I find this very very strange, the last time I ran the tests in my own machine I got all of them green in less than 2 seconds.

My machine is an Athlon II X3@3,2GHz, 14GB RAM DDR, ... from 2010. I've seen the other guy on #44 which has opted to don't use TrackerDog because of perf issues too.

I'm surprised about these results.

Pl

[2018-08-22 14:41] mfidemraizer commented on #43
Do you need this feature already?

[2018-08-22 14:49] mfidemraizer commented on #45
In fact, I've done a test run hosted in VSTS and I got this result for the entire test run:

[2018-08-23 06:48] mr-at0s commented on #43
Yes, but the performance issue (see https://github.com/mfidemraizer/trackerdog/issues/45) has got higher priority for us.

[2018-08-23 07:53] mfidemraizer commented on #43
I see. Are you woking in a .NET Core app?

[2018-08-23 08:11] mr-at0s commented on #45
It is uploaded to https://github.com/mr-at0s/trackerdogperf

[2018-08-23 10:21] mfidemraizer commented on #45
Ok thanks, I'll try it and I'll give you feedback

[2018-08-23 10:57] mr-at0s commented on #43
No, these are standard Windows .Net Framework projects.

[2018-08-31 03:01] shaneh20 opened #46 "How to support my custom Collection type?"
Hi, I've just started using TrackerDog (nice work btw!) and having a bit of trouble getting it to support my custom ObservableCollectionEx class that my model classes use. Here's some demo code:

[code]

When the `car = tracker.CreateFrom(car)` line runs, it throws the exception:

Looking at your code, it seems TrackerDog is creating a proxy IList collection which it tries to assign to Car.Passeng

[2018-08-31 15:33] mfidemraizer commented on #46
Hey! Thank you for using TrackerDog.

I'll read your message today carefully and I'll add an answer.

[2018-09-03 11:12] mfidemraizer commented on #46
@shaneh20 Actually, if I'm not mistaken, why you would need to use `ObservableCollection`? An `IList<T>` proxy already implements `INotifyPropertyChanged` and `INotifyCollectionChanged`, so if you're trying to use two-way binding, the proxy should be enough.

In the other hand, currently TrackerDog won't support concrete classes: you need to use interfaces, because what you get is a proxy, not you

[2018-09-06 16:28] toumir commented on #46
@shaneh20 let me know if @mfidemraizer's answer helps

[2018-09-07 00:57] shaneh20 commented on #46
My custom ObservableCollectionEx class (inherits from ObservableCollection) contains custom behaviour that various parts of my applications depend on (it contains various extra events that the base class does not provide). So, although its a great idea to make the IList proxy implement the INotifyPropertyChanged interfaces, I also need the extra custom logic in my custom ObservableCollectionEx too

[2018-09-07 11:22] mfidemraizer commented on #46
@shaneh20 I'm going check it this weekend, so I can give you a good answer to your question :+1:

[2018-09-20 00:45] krispharper opened #47 "Is it possible to track existing objects?"
I might have a misunderstanding of how to use TrackerDog. If I have an existing object, say

[code]

and then I try to add it to be tracked

[code]

then the resulting `trackedUser` object I get is missing the values that were previously set on it. I.e., `Name` will be `""` and `Age` will be `0`.

Is this the intended behavior? Is there any way to start tracking an existing object without resettin

[2018-09-20 06:50] toumir commented on #47
Hi @krispharper
I confirm that there is no problem and the [documentation](http://matiasfidemraizer.com/trackerdog/html/52e40f26-3dfe-47e0-adf1-09233e98f42e.htm#objects2trackable) explains things very well : take a look at the following LinqPad script :

[code]

[2018-09-20 07:41] mfidemraizer commented on #47
@krispharper Hi! And thank you for using TrackerDog!

I suspect that your properties aren't `virtual`. Am I mistaken?

[2018-09-20 07:44] mfidemraizer commented on #47
@krispharper Hi! Thank you for using TrackerDog!

May you confirm that you forgot to configure the whole type as a *trackable type* as @toumir has already pointed out?

[2018-09-20 07:45] mfidemraizer commented on #46
@shaneh20 I'm really sorry I've not been able too invest time on this issue. I've had to solve some personal affairs and I couldn't work on this.

[2018-09-20 10:39] shaneh20 commented on #46
That's cool. I'm not really in any rush

[2018-09-20 11:40] krispharper commented on #47
Ah, it was indeed that my properties weren't `virtual`. I had forgotten that requirement. It looks like it's working with that in place.

Thanks for the help.

[2018-09-20 11:40] #47 closed, assigned to mfidemraizer

[2018-09-20 11:55] krispharper opened #48 "Top-level property for any changes"
Apologies for opening another issue so soon. Is there a property at the change tracker level that will indicate if *any* changes have been made on any of the objects in the object graph? I'm hoping to use this for a "needs to be saved" indication for backing a UI.

I saw [this issue](https://github.com/mfidemraizer/trackerdog/issues/20), which I think would accomplish what I need, but it involves

[2018-09-20 12:24] mfidemraizer commented on #48
Hey! No problem, you may ask as many questions as you need when you find issues or you've doubts!

May you explain further details about your object graph? Is the object graph a collection? Is a change tracked collection?

If I'm not mistaken, you're looking for sharing the same object change tracker across all those entities which could drive to this other issue: https://github.com/mfidemraizer/t

[2018-09-20 12:28] mfidemraizer commented on #46
@shaneh20 Ok, first of all I need to create a .NET Core 2.x-only solution file to let me open and run TrackerDog project and tests in my current setup (Linux) so I can look further on this issue and others.

[2018-09-20 14:40] krispharper commented on #48
I am effectively looking for something similar to the [`HasChanges`](https://msdn.microsoft.com/en-us/library/system.data.entity.infrastructure.dbchangetracker.haschanges(v=vs.113).aspx) method from Entity Framework's change tracker. This gives a single place to check for any changes across all objects being tracked.

This can be nice if, for example, you have a UI backed by several different trac

[2018-09-20 18:18] mfidemraizer commented on #48
@krispharper I see, something like [`ChangeTracker.HasChanges`](https://docs.microsoft.com/en-us/ef/core/api/microsoft.entityframeworkcore.changetracking.changetracker).

This involves a shared change tracker across many unrelated entities. It's related to #41

It requires some effort. Let me think again about it.

[2018-10-24 09:22] rahulrai-in opened #49 "How to track just the list inside a class?"
I am creating a custom DbContext class which requires a List of entities that I want to track. I want to attach tracker only to the list but the samples in documentation say that the tracker needs to be configured for the containing class as well. Here is how my code looks at the moment, which is not ideal.

[code]

How can I attach tracker to just the TrackedEntities list and not the CustomDbCont

[2018-10-24 10:17] mfidemraizer commented on #49
Hey! Thank you for using TrackerDog.

I see.

The issue here is that there's no public interface to tackle this problem at the moment.

See this: https://github.com/mfidemraizer/trackerdog/blob/147f760107fb6851a8e3079fd52a3df0fe9ae844/TrackerDog/TrackableObjectFactoryInternal.cs#L136

...which isn't part of any `public interface`.

So,  you want to build the whole tracked list this way, right?

[c

[2018-10-24 10:47] rahulrai-in commented on #49
Yes. That would make my class very similar to EF DbContext, which has trackable DbSet classes.

[2018-10-24 11:41] mfidemraizer commented on #49
Anyway, would be really disturbing that you might design a class with just that property for a while?

When I tried to provide a solution to other issues, I've found myself stuck, because my VM with Windows 10 and VS2017 is broken, and now my main OS is Linux since a year.

I believe that the best I can do is to provide just the *.NET Standard Library* distribution, and deprecate the Full Framewor

[2018-10-24 12:42] rahulrai-in commented on #49
Thanks for the prompt reply and taking action on the issue so early. I am using .net core and don't need a full framework solution. If you want, I can submit a PR if you let me know what needs to be done. I can validate the solution on my windows machine as well. Thanks.

[2018-10-24 12:51] mfidemraizer commented on #49
The PR would be really wonderful, but I guess you'll have a good headache.

While that unpublished method is a good approximation to what you need, we need a new one which may not require a parent object (an owner) of the whole collection but just the collection type or an existing collection instance.

It should be an easy one, but I'm not sure if you would be able to handle it without understand

[2019-03-14 11:10] jnonereacher commented on #46
This thread seems to have gone quiet, and I have just stumbled upon this exact issue. @mfidemraizer  have you got any further news or updates on this? Great work with this library btw!

[2019-03-20 07:07] darthkurak commented on #2
I wonder if this somehow was resolved? Or still, dictionary values cannot be tracked?

[2020-01-07 15:36] ffMathy opened #50 "Website broken"
The URL to the project site on nuget.org is down.

[2020-01-07 18:09] mfidemraizer commented on #50
Hey, thanks. It's correct, I've not renewed my domain matiasfidemraizer.com. I'll try to publish a new NuGet package so the site could be accessed using a GitHub Pages URL.

Thank you again!

[2020-04-30 20:34] Treemendus commented on #50
The links to the API reference and tutorial seem to not be working still. Do you have an update on when these will be working?  If are you hosting these elsewhere would it be possible for you to attach a URL so I can look at these?

Thank you!

[2020-08-11 05:31] nschoenberg commented on #50
Just found this project and it sounds very interesting to try out but sadly the tutorial links dont work. @mfidemraizer I found this by searching for specific design pattern and fuond this in a stackoverflow discussion: https://stackoverflow.com/questions/2363801/what-would-be-the-best-way-to-implement-change-tracking-on-an-object

Usually when people recommend frameworks like TrackerDog thats a g

[2020-08-21 18:54] mfidemraizer commented on #50
@nschoenberg Definitively I believe I'll need to put some effort and republish the whole documentation. So we can take advantage of all TrackerDog's features.

Please forgive me for not doing it before. Thank you for your good comments about the project!

[2020-08-24 10:10] mfidemraizer commented on #50
@nschoenberg @ffMathy @Treemendus I've updated the links to point to http://mfidemraizer.github.io/trackerdog.

I'll update the link in the nuget package too within the next days. BTW, for now, you've already access to the docs again!

[2020-11-08 19:48] ivbobkov opened #51 "Is there way to track internal/protected/private setters?"
I could not find extension point which allows me to change interception behavior for setters.

Can you provide steps to achieve expected behavior?

[2021-02-18 20:30] jkears opened #52 "Access is denied"
I created a simple test example in Net.Core 5.0 and TrackerDog 2.2.4 (full code below).

I am getting an **"Access Denied"** exception when calling **CreateFrom** as follows;

`var typeA2 = trackableObjectFactory.CreateFrom(typeA);`

Test Project Console App

[code]

Stack Trace from exception;

[2021-02-18 20:53] jkears commented on #52
This is not an issue, I moved the classes outside of the program class

[2021-02-18 20:53] #52 closed, assigned to nobody

[2021-03-07 00:34] Stoom commented on #46
I have the same problem too.  I'm extending a HashSet<T>, have created an interface, a concrete class, and a new ChangeInterceptor that extends `DefaultCollectionChangeInterceptor<T>`

[code]